{% extends 'layout/register_base.html' %}
{% load static widget_tweaks  i18n %}
{% block title %}{% trans 'Регистрация' %}{% endblock %}
{% block content %}
    <div class="container mt-5 pt-2 bg-white">
        <div class="row d-flex justify-content-center align-items-center">

            <div class="col-md-5 col-sm-12"></div>
            <div class="col-md-2 col-sm-12">
                <img src="{% static '/img/mainlogo.png' %}" class="card-img-top" alt="logo-images">
            </div>
            <div class="col-md-5 col-sm-12"></div>

            <div class="col-md-12 col-sm-12  p-4">
                <form method="post" >
                    {% csrf_token %}

                    <h1 class="h3 mb-3 text-center">{% trans 'Поменять пароль' %}</h1>

                    <br>
                    <div class="row border p-3 m-3">
                        <center><h5>{% translate 'Пароль должен состоять как минимум из восьми знаков  и хотя бы из одной буквы.' %}</h5></center>
                        <div class="col-md-12">
                            <label for="passInput" class="form-label">{% trans 'Старый Пароль' %}:</label>
                            {% if form.error_messages.password_incorrect %}
                                {{ form.old_password|add_class:'form-control is-invalid'|attr:'id:passInput' }}
                            {% else %}
                                {{ form.old_password|add_class:'form-control'|attr:'id:passInput' }}
                            {% endif %}
                            <div id="validationPassword1" class="invalid-feedback">
                                {{ form.error_messages.password_incorrect }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label for="passInput2" class="form-label">{% trans 'Новый пароль' %}:</label>
                            {% if form.error_messages.password_mismatch %}
                                {{ form.new_password1|add_class:'form-control is-invalid'|attr:'id:passInput2' }}
                            {% else %}
                                {{ form.new_password1|add_class:'form-control'|attr:'id:passInput2' }}
                            {% endif %}
                            <div id="validationPassword2" class="invalid-feedback">
                                {{ form.error_messages.password_mismatch }}
                            </div>
                            {#									  <input type="password" class="form-control" id="passInput" placeholder="name@example.com">#}
                        </div>
                        <div class="col-md-6">
                            <label for="passInput3" class="form-label">{% trans 'Подтверждение нового пароля' %}:</label>
                            {% if form.error_messages.password_mismatch %}
                                {{ form.new_password2|add_class:'form-control is-invalid'|attr:'id:passInput3' }}
                            {% else %}
                                {{ form.new_password2|add_class:'form-control'|attr:'id:passInput3' }}
                            {% endif %}
                            <div id="validationPassword3" class="invalid-feedback">
                                {{ form.error_messages.password_mismatch }}
                            </div>
                            {#									  <input type="password" class="form-control" id="passInput" placeholder="name@example.com">#}
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-4">
                            <a href="/" class="w-100 btn btn-lg btn-secondary" type="submit">
                                {% trans 'На главную страницу' %}
                            </a>
                        </div>
                        <div class="col-md-4">
                            <button class="w-100 btn btn-lg btn-p primary" type="submit">
                                {% trans 'Обновить пароль' %}
                            </button>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                </form>

            </div>
        </div>
    </div>


{% endblock %}

{% block extra_js %}
    <script>
        function doubleInput() {
            let input1 = document.getElementById('emailInput').value
            let input2 = document.getElementById('emailAdress').value = input1
        }
    </script>
{% endblock %}