{% extends 'layout/register_base.html' %}
{% load static widget_tweaks i18n %}
{% block title %}Вход в систему{% endblock %}
{% block content %}
    <div class="container mt-5 bg-white">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-4 col-sm-12 p-5 d-none d-sm-block d-sm-none d-md-block">
                <center>
                    <img src="{% static 'img/mainlogo.png' %}" class="card-img-top" alt="logo-images">
                </center>
                <br/>
                <ul class="list-inline">
                    <li class="list-inline-item">{% trans 'Языки:' %}</li>
                    <li class="list-inline-item"><a href="/en/accounts/login/"><img width="20" src="{% static '/img/en.png' %}"/></a></li>
                    <li class="list-inline-item"><a href="/ru/accounts/login/"><img width="20" src="{% static '/img/ru.png' %}"/></a></li>
                </ul>
            </div>
            <div class="col-md-4 col-sm-12  p-4">
                <form method="post" action="{% url 'login' %}">
                    {% csrf_token %}
                    <h1 class="h3 mb-3 text-center">{% translate 'Войти' %}</h1>
                    {% if request.GET.from == 'register' %}
                        <p class="mb-4 text-center">{% translate 'Ваша регистрация прошла успешно! Вам осталось активировать учетную запись пройдя по ссылки отправленной на Вашу электронную почту!' %}</p>
                    {% elif request.GET.from == 'activate' %}
                        <p class="mb-4 text-center">{% translate 'Активация прошла успешно! Теперь можете войти на сайт используя Ваш логин и пароль!' %}</p>
                    {% endif %}
                    <div class="form-floating">
                        {% if form.errors %}
                            {{ form.username|add_class:'form-control form-control-sm is-invalid'|attr:'type:email'|attr:'id:floatingInput'|attr:'placeholder:Адрес электронной почты' }}
                        {% else %}
                            {{ form.username|add_class:'form-control form-control-sm'|attr:'type:email'|attr:'id:floatingInput'|attr:'placeholder:Адрес электронной почты' }}
                        {% endif %}
                        <label for="floatingInput">{% trans 'Адрес электронной почты:' %}</label>
                        <div id="loginError" class="invalid-feedback">
                            {% if user_not_active %}
                                {% trans 'Ваш аккаунт не подтвержден. Проверьте почту.' %}
                            {% else %}
                                {% trans 'Неверная почта или пароль' %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-floating my-3">
                        {{ form.password|add_class:'form-control form-control-sm'|attr:'type:password'|attr:'id:floatingPassword'|attr:'placeholder:Введите пароль' }}
                        <label for="floatingPassword">{% trans 'Пароль' %}</label>
                    </div>
                    {#					    <div class="checkbox mb-3">#}
                    {#					      <label>#}
                    {#					        <input type="checkbox" value="remember-me"> Remember me#}
                    {#					      </label>#}
                    {#					    </div>#}

                    <button class="w-100 btn btn-lg btn-primary" type="submit">
                        {% trans 'Войти' %}
                    </button>
                </form>
                <br/>
                <p class="text-center">{% trans 'Если у вас нет аккаунта, ' %}<a href="{% url 'register' %}">{% trans 'Зарегистрируйтесь' %}</a></p>
            </div>
            <p class="text-center"><b>{% translate 'Для корректного функционирования веб-сайта рекомендуется использовать браузер Google Chrome' %}</b></p>

            <div class="col-md-2"></div>
        </div>
    </div>
{% endblock content %}

{% block extra_js %}
    {% if request.GET.from == 'register' %}

        <script>
            document.addEventListener("DOMContentLoaded", function(event) {
                window.confirm("{% translate 'Ваша регистрация прошла успешно! Вам осталось активировать учетную запись пройдя по ссылки отправленной на Вашу электронную почту!' %}")
            });
        </script>
    {% elif request.GET.from == 'activate' %}
        <script>
            document.addEventListener("DOMContentLoaded", function(event) {
                window.confirm("{% translate 'Активация прошла успешно! Теперь можете войти на сайт используя Ваш логин и пароль!' %}")
            });
        </script>
    {% endif %}
{% endblock extra_js %}