{% extends "admin/base_site.html" %}

{% block extrahead %}
    <style>
        .django-ckeditor-widget{
            width: 80%;
        }
    </style>
    <script>window.CKEDITOR_BASEPATH = '/static/ckeditor/ckeditor/';</script>
    {{ block.super }}
{% endblock %}