.min-height {
	min-height: 200px !important;
}

.sign-in-bg {
	background: url('../img/1588185554.jpg') no-repeat;
	background-size: cover;
	height: 100%;
}
.my-navbar-bg {
	background-color: #3c6daa;
}
.my-navbar-bg > .container > .navbar-brand, .my-navbar-list > .nav-item > .nav-link {
	color:#fff;
}
.my-navbar-list > .nav-item > .nav-link:hover {
	background-color: #fff;
	color:#3c6daa;
}