{% extends 'layout/base.html' %}
{% load static i18n %}
{% block content %}
    {% trans 'Шаг 2 График выполнения проекта' as item %}

    {% include 'layout/breadcrumbs.html' with adds=item %}

    <main>
        <div class="container mt-2">
            <div class="row">
                {% include 'layout/navigation.html' %}
            </div>

            <div class="row mt-3">
                <div class="col-md-12"><h2 class="text-start h5">{% trans 'Шаг №2 График выполнения проекта' %}</h2>
                    <hr/>
                </div>
                <!--form-->
                <div>
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-bordered table-sm">
                                <thead>
                                <tr class="table-dark text-center">
                                    <td>#</td>
                                    <td colspan="2"> {% trans 'Основные этапы выполнения проекта' %}</td>
                                    <td colspan="2"> {% trans 'Сроки реализации' %}</td>
                                    <td colspan="2">{% trans 'Выполняемая работа' %}</td>
                                    <td colspan="2"> {% trans 'Контрольные результаты' %}</td>
                                    <td>Действие</td>
                                    {#                                    <td></td>#}
                                    {#                                    <td></td>#}
                                </tr>
                                <tr class="table-dark text-center">
                                    <td></td>
                                    <td>{% trans 'Russian' %}</td>
                                    <td>{% trans 'English' %}</td>
                                    <td>{% trans 'Russian' %}</td>
                                    <td>{% trans 'English' %}</td>
                                    <td>{% trans 'Russian' %}</td>
                                    <td>{% trans 'English' %}</td>
                                    <td>{% trans 'Russian' %}</td>
                                    <td>{% trans 'English' %}</td>
                                    <td></td>
{#                                    <td></td>#}


                                </tr>
                                </thead>
                                <tbody id="graphic_results_table">
                                {% for graphic_three_result in graphic_three_results %}
                                    <tr>
                                        <td id="{% if graphic_three_result.last %}last_result_step{% endif %}">{% translate 'Этап' %} {{ forloop.counter }} </td>
                                        <td>{{ graphic_three_result.main_step_ru }}</td>
                                        <td>{{ graphic_three_result.main_step_en }}</td>
                                        <td>{{ graphic_three_result.attr_one_ru}}</td>
                                        <td>{{ graphic_three_result.attr_one_en }}</td>
                                        <td>{{ graphic_three_result.attr_two_ru }}</td>
                                        <td>{{ graphic_three_result.attr_two_en }}</td>
                                        <td>{{ graphic_three_result.attr_three_ru }}</td>
                                        <td>{{ graphic_three_result.attr_three_en }}</td>
                                        <td class="d-flex">
                                            <a class="btn btn-primary btn-sm mx-2"
                                               href="{% url 'graphic_three_performers_update' graphic_three_result.id %}"><i
                                                    class="fas fa-edit"></i></a>
                                            <form action="{% url 'ad_delete' %}" method="post">
                                                {% csrf_token %}
                                                <input type="hidden" value="project_order_graphic_three_result_delete"
                                                       name="action">
                                                <input type="hidden" value="{{ graphic_three_result.id }}"
                                                       name="project_order_graphic_three_result">
                                                <input type="hidden" value="{{ project_order.id }}"
                                                       name="project_order">
                                                <button type="submit" class="btn btn-danger btn-sm"><i
                                                        class="fas fa-trash"></i></button>
                                            </form>
                                        </td>
                                        {#                                    <td><a href="#" class="btn btn-info btn-sm"><i class="fas fa-edit"></i></a></td>#}
                                        {#                                    <td><a href="#" class="btn btn-danger btn-sm"><i class="fas fa-trash"></i></a></td>#}
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>

                        <form method="POST" name="ThreeStepForm" class="col-md-12">
                            {% csrf_token %}
                            <input type="hidden" name="project_order" value="{{ project_order.id }}">
                            <input type="hidden" name="action" value="create_result">
                            <div class="row  border m-0 p-3">
                                <div class="col-md-12">
                                    <label for="step_number"
                                           class="form-label">{% trans 'Название этапа выполнения проекта на русском:' %}</label>
                                    <textarea class="form-control fixed-count" id="main_step_ru" rows="3"
                                              name="main_step_ru"></textarea>
                                </div>
                                <div class="col-md-12">
                                    <label for="step_number"
                                           class="form-label">{% trans 'Название этапа выполнения проекта на английском:' %}</label>
                                    <textarea class="form-control fixed-count" id="main_step_en" rows="3"
                                              name="main_step_en"></textarea>
                                </div>
                                <div class="col-md-4">
                                    <input type="hidden" required name="graphic_three_id" id="three_id"
                                           value="{{ graphic_three.id }}">
                                    <div class="mb-3">
                                        <label for="attr_1_ru"
                                               class="form-label">{% trans 'Сроки реализации на русском:' %}</label>
                                        <textarea rows="2" placeholder="{% translate  'месяц/год' %}" class="form-control fixed-count" id="attr_1_ru"
                                              name="attr1"></textarea>
                                    </div>
                                    <div class="mb-3">
                                        <label for="attr_1_en"
                                               class="form-label">{% trans 'Сроки реализации на английском:' %}</label>
                                        <textarea rows="2" placeholder="{% translate  'месяц/год' %}" required class="form-control" id="attr_1_en" name="attr1_en"
                                              ></textarea>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="mb-3">
                                        <label for="attr_2_ru"
                                               class="form-label">{% trans 'Выполняемая работа на русском:' %}</label>
                                        <textarea required class="form-control" id="attr_2_ru" name="attr2"
                                              ></textarea>
                                    </div>
                                    <div class="mb-3">
                                        <label for="attr_2_en"
                                               class="form-label">{% trans 'Выполняемая работа на английском:' %}</label>
                                        <textarea required class="form-control" id="attr_2_en" name="attr2_en"
                                              ></textarea>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="mb-3">
                                        <label for="attr_3_ru"
                                               class="form-label">{% trans 'Контрольные результаты на русском:' %}</label>
                                        <textarea required class="form-control" id="attr_3_ru" name="attr3"
                                              ></textarea>
                                    </div>
                                    <div class="mb-3">
                                        <label for="attr_3_en"
                                               class="form-label">{% trans 'Контрольные результаты на английском:' %}</label>
                                        <textarea required class="form-control" id="attr_3_en" name="attr3_en"
                                              ></textarea>
                                    </div>
                                </div>

                                <div class="col-md-4"></div>
                                <div class="col-md-4"></div>
                                <div class="col-md-4">
                                    <button class="btn btn-warning w-100" type="button" onclick="fetchThreeStep()">
                                        {% trans 'Добавить этап' %}
                                    </button>
                                </div>

                            </div>
                        </form>


                        <div class="col-6 mt-3">
                            <a class="btn btn-info w-100"
                               href="/ru/step/1/?project_order={{ project_order.id }}">{% trans 'Назад' %}<i
                                    class="fas fa-backward"></i>
                            </a>
                        </div>
                        <div class="col-6 mt-3">
                            <a href="/step/4/?project_order={{ project_order.id }}" class="btn btn-primary w-100">{% trans 'Сохранить и перейти на следующий этап' %}<i
                                    class="fas fa-forward"></i></a>
                        </div>

                    </div>
                </div>
                <!--form-->
            </div>
        </div>
    </main>


    {% include 'layout/footer.html' with ru_url='/ru/step/3?project_order=' en_url='/en/step/3?project_order=' pk=project_order.id %}

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script>
        function fetchThreeStep() {
            let form_data = new FormData(document.forms.namedItem('ThreeStepForm'))
            form_data.append('response_type', 'json')
            fetch(`{% url 'step_four' %}?project_order={{ project_order.id }}`, {
                method: 'post',
                body: form_data,
                cache: 'no-cache', // *default, no-cache, reload, force-cache, only-if-cached
                credentials: 'same-origin', // include, *same-origin, omit
            })
                .then((json_response) => {
                    console.log(json_response);
                    return json_response.json();
                })
                .then((response) => {
                    console.log(response);
                    let result_template = `
                    <tr>
                         <td>{% translate 'Этап' %} ${response['elem_count']} </td>
                        <td>${response['graphics_result']['main_step_ru']}</td>
                        <td>${response['graphics_result']['main_step_en']}</td>
                        <td>${response['graphics_result']['attr_one_ru']}</td>
                        <td>${response['graphics_result']['attr_one_en']}</td>
                        <td>${response['graphics_result']['attr_two_ru']}</td>
                        <td>${response['graphics_result']['attr_two_en']}</td>
                        <td>${response['graphics_result']['attr_three_ru']}</td>
                        <td>${response['graphics_result']['attr_three_en']}</td>
                        <td class="d-flex">
                            <a class="btn btn-primary btn-sm mx-2"
                               href="{% url "graphic_three_performers_update_small" %}${response['graphics_result']['id']}"><i
                                    class="fas fa-edit"></i></a>
                            <form action="{% url 'ad_delete' %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" value="project_order_graphic_three_result_delete" name="action">
                                <input type="hidden" value="${response['graphics_result']['id']}"
                                       name="project_order_graphic_three_result">
                                <input type="hidden" value="{{ project_order.id }}"
                                       name="project_order">
                                <button type="submit" class="btn btn-danger btn-sm"><i
                                        class="fas fa-trash"></i></button>
                            </form>
                        </td>
                    </tr>
                    `;
                    document.getElementById('graphic_results_table').innerHTML += result_template;
                    document.getElementById('three_id').value = response['graphic_three_id'];
                    document.getElementById('attr_1_ru').value = '';
                    document.getElementById('attr_1_en').value = '';
                    document.getElementById('attr_2_ru').value = '';
                    document.getElementById('attr_2_en').value = '';
                    document.getElementById('attr_3_ru').value = '';
                    document.getElementById('attr_3_en').value = '';
                    document.getElementById('main_step_ru').value = '';
                    document.getElementById('main_step_en').value = '';

                })
                .catch((error) => {
                    console.log(error);
                })
        }

        $('.fixed-count').on('input', (e) => {
            if (e.target.value.split(' ').length > 200) {
                let textVal = $(`#${e.target.id}`).val();
                $(`#${e.target.id}`).val(textVal.split(' ').slice(0, 200).join(' '));
                {#$(`#${e.target.id}`).val(textVal.substring(0, textVal.length - 1));#}
            }
        })
        {#function* genStepsNum() {#}
        {#    let i = 1#}
        {#    while(true) {#}
        {#        yield i++#}
        {#    }#}
        {#let genSteps = genStepsNum()#}
        {#console.log(genSteps.next().value)#}
        {#console.log(genSteps.next().value)#}
    </script>
{% endblock %}