{% extends 'layout/base.html' %}
{% load static i18n widget_tweaks poll_extras %}

{% block content %}
    {% trans 'Шаг №1 Данные о проекте' as item %}
    {% include 'layout/breadcrumbs.html' with adds=item %}
    {% trans 'placeholder:Необязательное поле' as not_required %}

    <main>
        <div class="container mt-2">
            <div class="row">
                {% include 'layout/navigation.html' %}
            </div>

            <div class="row mt-3">
                <div class="col-md-12"><h2 class="text-start h5">{% trans 'Шаг №1 Данные о проекте' %}</h2>
                    <hr/>
                </div>

                {% csrf_token %}
                <div class="row">
                    <ul class="nav nav-tabs justify-content-end mb-2" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="home-tab" data-bs-toggle="tab"
                                    data-bs-target="#home" type="button" role="tab" aria-controls="home"
                                    aria-selected="true">{% translate 'Русский' %}
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile"
                                    type="button" role="tab" aria-controls="profile" aria-selected="false">
                                {% translate 'Английский' %}
                            </button>
                        </li>
                    </ul>
                    <div class="tab-content mb-2" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <!--RUSSIAN FORMS-->

                            <div class="mb-3">
                                <label for="knowled_are_ru"
                                       class="form-label">{% trans 'Область знания на русском:' %}</label>
                                <textarea class="form-control required_textarea fixed-count" id="knowled_are_ru"
                                          rows="3" name="info_ru"
                                          form="last_form_submit">{{ graphic.info_ru|default:"" }}</textarea>
                                <div class="form-text">{% trans 'Максимальное количество слов - 20' %}</div>
                            </div>

                            <div class="mb-3">
                                <label for="content_ru"
                                       class="form-label">{% trans 'Научное обоснование проекта на русском:' %}</label>
                                <textarea class="form-control required_textarea fixed-count-long" id="content_ru"
                                          rows="6" name="content_ru"
                                          form="last_form_submit">{{ graphic.content_ru }}</textarea>
                                <div class="form-text">{% trans 'Максимальное количество слов - 1000' %}</div>
                            </div>

                            <div class="mb-3">
                                <label for="relevance_ru">{% translate 'Актуальность и востребованность (подтверждается несколькими (не менее трех) экспертами в данной области знаний) на русском:' %}</label>
                                <textarea class="form-control fixed-count-min " id="relevance_ru"
                                          name="relevance_ru" type="text"
                                          form="last_form_submit"> {{ graphic.relevance_ru|default:"" }}</textarea>
                                <div class="form-text">{% trans 'Максимальное количество слов - 200' %}</div>
                            </div>
                            <div class="mb-3">
                                <label for="interregional_nature_ru"
                                       class="form-label">{% trans 'Описать межрегиональный характер самой работы (при наличии одного автора) на русском:' %}</label>
                                <textarea class="form-control" id="interregional_nature_ru"
                                          rows="6" name="interregional_nature_ru"
                                          form="last_form_submit">{{ graphic.interregional_nature_ru|default:"" }}</textarea>
                            </div>
                            {% if project_order.type_id == 2 %}
                                <div class="mb-3">
                                    <label for="novelty_c_ru"
                                           class="form-label">{% translate 'Научный задел (наличие ранее проведенных исследований, требующих завершения в рамках поданного проекта)' %}</label>
                                    <textarea class="form-control" id="novelty_c_ru"
                                              rows="6" name="novelty_c_ru" form="last_form_submit"
                                    >{{ graphic.novelty_c_ru }}</textarea>
                                </div>
                            {% endif %}
                            <!--RUSSIAN FORMS-->
                        </div>
                        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                            <!-- ENGLISH FORMS-->

                            <div class="mb-3">
                                <label for="knowled_are_en"
                                       class="form-label">{% trans 'Область знания на английском:' %}</label>
                                <textarea class="form-control required_textarea fixed-count" id="knowled_are_en"
                                          rows="3" name="info_en"
                                          form="last_form_submit">{{ graphic.info_en }}</textarea>
                                <div class="form-text">{% trans 'Максимальное количество слов - 20' %}</div>
                            </div>
                            <div class="mb-3">
                                <label for="content_en"
                                       class="form-label">{% trans 'Научное обоснование проекта на английском:' %}</label>
                                <textarea class="form-control required_textarea fixed-count-long" id="content_en"
                                          rows="6" name="content_en"
                                          form="last_form_submit">{{ graphic.content_en }}</textarea>
                                <div class="form-text">{% trans 'Максимальное количество слов - 1000' %}</div>
                            </div>

                            <div class="mb-3">
                                <label for="relevance_en">{% translate 'Актуальность и востребованность (подтверждается несколькими (не менее трех) экспертами в данной области знаний) на английском:' %}</label>
                                <textarea class="form-control fixed-count-min" id="relevance_en"
                                          name="relevance_en" type="text"
                                          form="last_form_submit">{{ graphic.relevance_en }}</textarea>
                                <div class="form-text">{% trans 'Максимальное количество слов - 200' %}</div>
                            </div>
                            <div class="mb-3">
                                <label for="interregional_nature_en"
                                       class="form-label">{% trans 'Описать межрегиональный характер самой работы (при наличии одного автора) на английском:' %}</label>
                                <textarea class="form-control" id="interregional_nature_en"
                                          rows="6" name="interregional_nature_en" form="last_form_submit"
                                >{{ graphic.interregional_nature_en }}</textarea>
                            </div>

                            {% if project_order.type_id == 2 %}
                                <div class="mb-3">
                                    <label for="novelty_c_en"
                                           class="form-label">{% translate 'Научный задел (наличие ранее проведенных исследований, требующих завершения в рамках поданного проекта)' %}</label>
                                    <textarea class="form-control" id="novelty_c_en"
                                              rows="6" name="novelty_c_en" form="last_form_submit"
                                    >{{ graphic.novelty_c_en }}</textarea>
                                </div>
                            {% endif %}
                            <!--ENGLISH FORMS-->
                        </div>
                    </div>
                    {% if project_order.type_id == 1 %}
                        <div class="col-md-12">
                            <div class="mb-3">
                                <div class="row">
                                    {#                            <label for="work_readiness_a"#}
                                    {#                                   class="form-label text-center">{% translate 'Готовность работы:' %}</label>#}
                                    <div class="col-md-12">
                                        <h5>{% translate 'Готовность работы' %}</h5>
                                    </div>
                                    <div class="border border-1 rounded">
                                        <div class="row">
                                            <p>{% translate 'Отсутствие необходимости проведения дополнительных исследований/ доработок:' %}
                                                <input class="form-check-input ml-1" id="work_readiness_a"
                                                       name="work_readiness_a" type="checkbox" form="last_form_submit"
                                                        {% if graphic.work_readiness_a %} checked {% endif %}>
                                            </p>
                                            <p>{% translate 'Проведена редактура:' %}
                                                <input class="form-check-input ml-1" id="work_readiness_b"
                                                       name="work_readiness_b" type="checkbox" form="last_form_submit"
                                                        {% if graphic.work_readiness_b %}
                                                       checked {% endif %}>
                                            </p>
                                            <p>{% translate 'Произведена верстка:' %}
                                                <input class="form-check-input ml-1" id="work_readiness_c"
                                                       name="work_readiness_c" type="checkbox" form="last_form_submit"
                                                        {% if graphic.work_readiness_c %}
                                                       checked {% endif %}>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="mb-3">
                                {#                            <label for="have_a_good_translate"#}
                                {#                                   class="form-label text-center">{% trans 'Наличие качественного перевода:' %}</label>#}


                            </div>
                            <div class="mb-3">
                                {#                            <label for="have_a_good_translate"#}
                                {#                                   class="form-label text-center">{% trans 'Наличие качественного перевода:' %}</label>#}

                                <p>{% translate 'Наличие качественного перевода на английский язык или, если издание на английском языке, то наличие перевода на русский язык (рецензия, рекомендация зарубежного англо- или русскоговорящего специалиста):' %}
                                    <input class="form-check-input ml-1" id="have_a_good_translate"
                                           name="have_a_good_translate" type="checkbox" form="last_form_submit"
                                            {% if graphic.have_a_good_translate %} checked {% endif %}
                                           onclick="removeClass()">
                                    <br>
                                <div id="remove" class="{% if not graphic.have_a_good_translate %}d-none{% endif %}">
                                    <label for="">{% translate 'На русском' %}</label>
                                    <input type="file"
                                           class="" id=""
                                           name="have_a_good_translate_file_ru"
                                           accept="application/pdf"
                                           form="last_form_submit" value="




                                            {% if graphic.have_a_good_translate_file_ru.name %}{{ graphic.have_a_good_translate_file_ru.url }}{% endif %}">
                                    <br>
                                    {% if graphic.have_a_good_translate_file_ru %}
                                        <a id="remove" target="_blank"
                                           href="{{ graphic.have_a_good_translate_file_ru.url }}">
                                            {% if graphic.have_a_good_translate_file_ru.name %}
                                                {% translate 'Загруженный файл :' %}
                                                {{ graphic.have_a_good_translate_file_ru.name }} {% else %} {% endif %}</a>
                                    {% endif %}<br>
                                    <label for="">{% translate 'На английском' %}</label>
                                    <input type="file"
                                           accept="application/pdf"
                                           class="" id=""
                                           name="have_a_good_translate_file_en"
                                           form="last_form_submit" value="




                                            {% if graphic.have_a_good_translate_file_en.name %}{{ graphic.have_a_good_translate_file_en.url }}{% endif %}">
                                    <br>
                                    {% if graphic.have_a_good_translate_file_en %}
                                        <a id="remove" target="_blank"
                                           href="{{ graphic.have_a_good_translate_file_en.url }}">
                                            {% if graphic.have_a_good_translate_file_en.name %}
                                                {% translate 'Загруженный файл :' %}
                                                {{ graphic.have_a_good_translate_file_en.name }} {% else %} {% endif %}</a>
                                    {% endif %}
                                </div>
                                </p>

                            </div>
                        </div>
                    {% endif %}

                    <div class="mb-3">
                        <div class="row">
                            {#                        <label#}
                            {#                                class="form-label text-center">{% trans 'Наличие качественного перевода:' %}</label>#}

                            {% if  project_order.type_id == 1 %}
                                <div class="col-md-12">
                                    <h5>{% translate 'Новизна' %}</h5>
                                </div>
                            {% endif %}
                            <div{% if  project_order.type_id == 1 %} class="border border-1 rounded"{% endif %}>
                                {% if  project_order.type_id == 1 %}
                                    <p>{% translate 'Наличие результатов исследований, сделанных в течение последних пяти лет:' %}
                                        <input class="form-check-input ml-1" id="novelty_b"
                                               name="novelty_b" type="checkbox" form="last_form_submit"
                                                {#                                               onclick="removeClassNovelty()"#}
                                                {% if graphic.novelty_b %} checked {% endif %}>
                                        <br>
                                    </p>
                                {% endif %}
                                <div>
                                    {% if project_order.type.id == 1 %}
                                        <p>{% translate 'Отсутствие значительных частей работы, опубликованных ранее:' %}
                                            <input class="form-check-input ml-1" id="novelty_a"
                                                   name="novelty_a" type="checkbox" form="last_form_submit"
                                                    {% if graphic.novelty_a %} checked {% endif %}>
                                        </p>
                                    {% endif %}
                                    {% if project_order.type.id == 3 %}
                                        <p>{% translate 'Новизна (подтверждение новизны исследований не менее чем двумя экспертами в данной области знаний)' %}
                                            <input class="form-check-input ml-1" id="novelty_d"
                                                   onclick="toggleElementById(this, 'novelty_d_file')"
                                                   name="novelty_d" type="checkbox" form="last_form_submit"
                                                    {% if graphic.novelty_d %} checked {% endif %}>
                                        <div id="novelty_d_file"
                                             class="{% if not graphic.novelty_d %}d-none{% endif %}">
                                            <label for="">{% translate 'На русском' %}</label>
                                            <input type="file"
                                                   accept="application/pdf"

                                                   class="" id=""
                                                   name="novelty_d_file_ru"
                                                   form="last_form_submit" value="




                                                    {% if graphic.novelty_d_file_ru.name %}{{ graphic.novelty_d_file_ru.url }}{% endif %}">
                                            <br>
                                            {% if graphic.novelty_d_file_ru %}
                                                <a id="remove" target="_blank"
                                                   href="{{ graphic.novelty_d_file_ru.url }}">
                                                    {% if graphic.novelty_d_file_ru.name %}
                                                        {% translate 'Загруженный файл :' %}
                                                        {{ graphic.novelty_d_file_ru.name }} {% else %} {% endif %}</a>
                                            {% endif %}<br>
                                            <label for="">{% translate 'На английском' %}</label>
                                            <input type="file"
                                                   accept="application/pdf"

                                                   class="" id=""
                                                   name="novelty_d_file_en"
                                                   form="last_form_submit" value="




                                                    {% if graphic.novelty_d_file_en.name %}{{ graphic.novelty_d_file_en.url }}{% endif %}">
                                            <br>
                                            {% if graphic.novelty_d_file_en %}
                                                <a id="remove" target="_blank"
                                                   href="{{ graphic.novelty_d_file_en.url }}">
                                                    {% if graphic.novelty_d_file_en.name %}
                                                        {% translate 'Загруженный файл :' %}
                                                        {{ graphic.novelty_d_file_en.name }} {% else %} {% endif %}</a>
                                            {% endif %}
                                        </div>
                                        </p>
                                    {% endif %}
                                    {% if project_order.type.id == 2 %}
                                        <p>{% translate 'Новизна (подтверждение новизны исследований не менее чем двумя экспертами в данной области знаний)' %}
                                            <input class="form-check-input ml-1" id="novelty_d"
                                                   onclick="toggleElementById(this, 'novelty_d_file')"
                                                   name="novelty_d" type="checkbox" form="last_form_submit"
                                                    {% if graphic.novelty_d %} checked {% endif %}>
                                        <div id="novelty_d_file"
                                             class="{% if not graphic.novelty_d %}d-none{% endif %}">
                                            <label for="">{% translate 'На русском' %}</label>
                                            <input type="file"
                                                   accept="application/pdf"

                                                   class="" id=""
                                                   name="novelty_d_file_ru"
                                                   form="last_form_submit" value="
                                                    {% if graphic.novelty_d_file_ru.name %}{{ graphic.novelty_d_file_ru.url }}{% endif %}">
                                            <br>
                                            {% if graphic.novelty_d_file_ru %}
                                                <a id="remove" target="_blank"
                                                   href="{{ graphic.novelty_d_file_ru.url }}">
                                                    {% if graphic.novelty_d_file_ru.name %}
                                                        {% translate 'Загруженный файл :' %}
                                                        {{ graphic.novelty_d_file_ru.name }} {% else %} {% endif %}</a>
                                            {% endif %}<br>
                                            <label for="">{% translate 'На английском' %}</label>
                                            <input type="file"
                                                   accept="application/pdf"

                                                   class="" id=""
                                                   name="novelty_d_file_en"
                                                   form="last_form_submit" value="
                                                    {% if graphic.novelty_d_file_en.name %}{{ graphic.novelty_d_file_en.url }}{% endif %}">
                                            <br>
                                            {% if graphic.novelty_d_file_en %}
                                                <a id="remove" target="_blank"
                                                   href="{{ graphic.novelty_d_file_en.url }}">
                                                    {% if graphic.novelty_d_file_en.name %}
                                                        {% translate 'Загруженный файл :' %}
                                                        {{ graphic.novelty_d_file_en.name }} {% else %} {% endif %}</a>
                                            {% endif %}
                                        </div>
                                        </p>
                                        <p>{% translate 'Подготовка к публикации в течение последующего после проведенного исследования года (а. научная статья (обозначение четкого планирования, стоимости и источника финансирования публикации)' %}
                                            <input class="form-check-input ml-1" id="novelty_e"
                                                   onclick="toggleElementById(this, 'research_article_table')"
                                                   name="novelty_e" type="checkbox" form="last_form_submit"
                                                    {% if graphic.novelty_e %} checked {% endif %}>
                                        </p>
                                        <table id="research_article_table"
                                               class="table {% if not graphic.novelty_e %} d-none {% endif %}">
                                            <thead>
                                            <tr>
                                                <td>{% translate 'Планирование(ru)' %}</td>
                                                <td>{% translate 'Планирование(en)' %}</td>
                                                <td>{% translate 'Стоимость публикации' %}</td>
                                                <td>{% translate 'Источник финансирования(ru)' %}</td>
                                                <td>{% translate 'Источник финансирования(en)' %}</td>
                                                <td>{% translate 'Действие' %}</td>
                                            </tr>
                                            </thead>
                                            <tbody id="research_article_tbody">
                                            {% for research_article in research_articles %}
                                                <tr id="research_article_{{ research_article.id }}">
                                                    <td id="research_article_plan_ru_{{ research_article.id }}">{{ research_article.plan_ru }}</td>
                                                    <td id="research_article_plan_en_{{ research_article.id }}">{{ research_article.plan_en }}</td>
                                                    <td id="research_article_cost_{{ research_article.id }}">{{ research_article.cost }}</td>
                                                    <td id="research_article_funding_ru_{{ research_article.id }}">{{ research_article.funding_ru }}</td>
                                                    <td id="research_article_funding_en_{{ research_article.id }}">{{ research_article.funding_en }}</td>
                                                    <td>
                                                        <button type="button" class="btn btn-danger btn-sm sharp"
                                                                onclick="researchArticleDelete({{ research_article.id }})">
                                                            <i class="fas fa-trash"></i></button>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                            <tfoot>
                                            <tr>
                                                <td><textarea name="plan_ru" class="form-control"
                                                              form="new_research_article_form"
                                                              id="new_research_article_plan_ru" cols="30"
                                                              rows="3"></textarea></td>
                                                <td><textarea name="plan_en" class="form-control"
                                                              form="new_research_article_form"
                                                              id="new_research_article_plan_en" cols="30"
                                                              rows="3"></textarea></td>
                                                <td><input class="form-control" form="new_research_article_form"
                                                           type="number" id="new_research_article_cost" name="cost">
                                                </td>
                                                <td><input class="form-control" form="new_research_article_form"
                                                           type="text" id="new_research_article_funding_ru"
                                                           name="funding_ru"></td>
                                                <td><input class="form-control" form="new_research_article_form"
                                                           type="text" id="new_research_article_funding_en"
                                                           name="funding_en"></td>
                                                <td>
                                                    <form action="{% url 'step_two_actions' %}"
                                                          id="new_research_article_form"
                                                          name="new_research_article_form">
                                                        {% csrf_token %}
                                                        <input type="hidden" name="project_order"
                                                               value="{{ project_order.id }}">
                                                        <input type="hidden" name="action"
                                                               value="research_article_create">
                                                        <button type="button" class="btn btn-primary"
                                                                onclick="sendFetch('new_research_article_form', researchArticleSuccses)">
                                                            Добавить
                                                        </button>
                                                    </form>
                                                </td>
                                            </tr>
                                            </tfoot>
                                        </table>
                                    {% endif %}
                                    {% if project_order.type.id == 2 or project_order.type.id == 3 %}
                                        {% if project_order.type.id == 2 %}
                                            <p>{% translate 'Подготовка к публикации в течение последующего после проведенного исследования года (б. монография (обозначение четкого планирования, стоимости и источника финансирования публикации))' %}
                                                {% else %}
                                            <p>
                                            {% translate 'Подготовка к публикации в течение последующего после проведенного исследования года (материалы конференций, семинаров и т.д. - обозначение четкого планирования, стоимости и источника финансирования публикации)' %}
                                        {% endif %}
                                    <input class="form-check-input ml-1" id="novelty_f"
                                           onclick="toggleElementById(this, 'monograph_table')"
                                           name="novelty_f" type="checkbox" form="last_form_submit"
                                            {% if graphic.novelty_f %} checked {% endif %}>
                                    </p>
                                        <table id="monograph_table"
                                               class="table {% if not graphic.novelty_f %} d-none {% endif %}">
                                            <thead>
                                            <tr>
                                                <td>{% translate 'Планирование(ru)' %}</td>
                                                <td>{% translate 'Планирование(en)' %}</td>
                                                <td>{% translate 'Стоимость публикации' %}</td>
                                                <td>{% translate 'Источник финансирования(ru)' %}</td>
                                                <td>{% translate 'Источник финансирования(en)' %}</td>
                                                <td>{% translate 'Действие' %}</td>
                                            </tr>
                                            </thead>
                                            <tbody id="monograph_tbody">
                                            {% for monograph in monographs %}
                                                <tr id="monograph_{{ monograph.id }}">
                                                    <td id="monograph_plan_ru_{{ monograph.id }}">{{ monograph.plan_ru }}</td>
                                                    <td id="monograph_plan_en_{{ monograph.id }}">{{ monograph.plan_en }}</td>
                                                    <td id="monograph_cost_{{ monograph.id }}">{{ monograph.cost }}</td>
                                                    <td id="monograph_funding_ru_{{ monograph.id }}">{{ monograph.funding_ru }}</td>
                                                    <td id="monograph_funding_en_{{ monograph.id }}">{{ monograph.funding_en }}</td>
                                                    <td>
                                                        <button type="button" class="btn btn-danger btn-sm sharp"
                                                                onclick="monographDelete({{ monograph.id }})">
                                                            <i class="fas fa-trash"></i></button>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                            <tfoot>
                                            <tr>
                                                <td><textarea class="form-control" name="plan_ru"
                                                              form="new_monograph_form"
                                                              id="new_monograph_plan_ru" cols="30" rows="3"></textarea>
                                                </td>
                                                <td><textarea class="form-control" name="plan_en"
                                                              form="new_monograph_form"
                                                              id="new_monograph_plan_en" cols="30" rows="3"></textarea>
                                                </td>
                                                <td><input class="form-control" form="new_monograph_form" type="number"
                                                           id="new_monograph_cost" name="cost"></td>
                                                <td><input class="form-control" form="new_monograph_form" type="text"
                                                           id="new_monograph_funding_ru" name="funding_ru"></td>
                                                <td><input class="form-control" form="new_monograph_form" type="text"
                                                           id="new_monograph_funding_en" name="funding_en"></td>
                                                <td>
                                                    <form action="{% url 'step_two_actions' %}" id="new_monograph_form"
                                                          name="new_monograph_form">
                                                        {% csrf_token %}
                                                        <input type="hidden" name="project_order"
                                                               value="{{ project_order.id }}">
                                                        <input type="hidden" name="action" value="monograph_create">
                                                        <button type="button" class="btn btn-primary"
                                                                onclick="sendFetch('new_monograph_form', monographSuccses)">
                                                            Добавить
                                                        </button>
                                                    </form>
                                                </td>
                                            </tr>
                                            </tfoot>
                                        </table>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="additionaly_amount">{% translate 'Дополнительное финансирование (подтверждается официальными финансовыми/ гарантийными документами):' %}</label>
                        <input class="form-check-input " id="additionaly_amount"
                               name="additionaly_amount" type="checkbox" form="last_form_submit"
                               onclick="removeClassAmount()"
                                {% if graphic.additionaly_amount %}
                               checked {% endif %}>
                        <br>
                        <div id="additionaly_amount_file"
                             class="{% if not graphic.additionaly_amount %}d-none{% endif %}">
                            <label for="">{% translate 'На русском' %}</label>
                            <input type="file"
                                   accept="application/pdf"
                                   class="" id=""
                                   name="additionaly_amount_file_ru"
                                   form="last_form_submit" value="{% if graphic.additionaly_amount_file_ru.name %}{{ graphic.additionaly_amount_file_ru.url }}{% endif %}">
                            <br>
                            {% if graphic.additionaly_amount_file_ru %}
                                <a id="remove" target="_blank" href="{{ graphic.additionaly_amount_file_ru.url }}">
                                    {% if graphic.additionaly_amount_file_ru.name %}
                                        {% translate 'Загруженный файл :' %}
                                        {{ graphic.additionaly_amount_file_ru.name }} {% else %} {% endif %}</a>
                            {% endif %}<br>
                            <label for="">{% translate 'На английском' %}</label>
                            <input type="file"
                                   accept="application/pdf"
                                   class="" id=""
                                   name="additionaly_amount_file_en"
                                   form="last_form_submit" value="{% if graphic.additionaly_amount_file_en.name %}{{ graphic.additionaly_amount_file_en.url }}{% endif %}">
                            <br>
                            {% if graphic.additionaly_amount_file_en %}
                                <a id="remove" target="_blank" href="{{ graphic.additionaly_amount_file_en.url }}">
                                    {% if graphic.additionaly_amount_file_en.name %}
                                        {% translate 'Загруженный файл :' %}
                                        {{ graphic.additionaly_amount_file_en.name }} {% else %} {% endif %}</a>
                            {% endif %}
                        </div>


                    </div>
                    <div class="mb-3">
                        <div class="col-md-12">
                        <h3 class="text-center">{% translate 'Исполнители проекта' %}</h3>
                            <table class="table table-bordered table-sm">
                                <thead>
                                <tr class="table-dark text-center">
                                    <td>{% trans 'Русский' %}</td>
                                    <td>{% trans 'Английский' %}</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                </thead>
                                <tbody id="performers_tbody">
                                {% for graphic in graphic_two %}
                                    <tr id="performer_{{ graphic.id }}">
                                        <td>
                                            {{ graphic.appeal.name_ru }} {{ graphic.last_name_ru }} {{ graphic.first_name_ru }} {{ graphic.middle_name_ru|default:"" }}
                                            <br>
                                            {{ graphic.birthday|date:"d.m.Y" }}

                                            <br>
                                            Почтовый адрес: {{ graphic.address_zip }} г.
                                            {% language 'ru' %}
                                                {{ graphic.address_country.name }} {% endlanguage %} {{ graphic.address_street }}
                                            <br>
                                            Телефон рабочий: {{ graphic.work_phone_number }} и домашний
                                            {{ graphic.home_phone_number }}
                                            <br>
                                            Адресс электронной почты: {{ graphic.email }}<br>
                                            {{ graphic.get_project_position_display }}<br>
                                            Дополнительные данные:<br>
                                            {{ graphic.additionaly_data_ru }}
                                        </td>
                                        <td>

                                            {{ graphic.appeal.name_en }} {{ graphic.last_name_en }} {{ graphic.first_name_en }} {{ graphic.middle_name_en|default:"" }}
                                            <br>
                                            {{ graphic.birthday|date:"d.m.Y" }}
                                            <br>

                                            Mailing address: {{ graphic.address_zip }}
                                            {% language 'en' %}
                                                {{ graphic.address_country.name }} {% endlanguage %} {{ graphic.address_street }}
                                            <br>
                                            Phone: {{ graphic.work_phone_number }}
                                            {{ graphic.home_phone_number }}
                                            <br>
                                            Email: {{ graphic.email }}<br>
                                            {{ graphic.project_position }}<br>
                                            Additional data:<br>
                                            {{ graphic.additionaly_data_en }}
                                        </td>

                                        {% csrf_token %}
                                        <td>

                                            <a href="{% url 'graphic_two_update' graphic.id %}?back_url={{ request.path }}&project_order={{ project_order.id }}"
                                               class="btn btn-info btn-sm"><i class="fas fa-edit"></i></a>
                                            <input type="hidden" value="update" name="action">

                                        </td>


                                        <td>
                                            <button type="button" onclick="deletePerformer({{ graphic.id }})"
                                                    class="btn btn-danger btn-sm"><i
                                                    class="fas fa-trash"></i></button>
                                        </td>


                                    </tr>
                                {% endfor %}
                                </tbody>

                            </table>
                        </div>
                        <div class="col-md-12">
                            <h4>{{ form_errors }}</h4>
                            <p class="text-center">
                                <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample"
                                   role="button" aria-expanded="false" aria-controls="collapseExample">
                                    {% trans 'Добавить исполнителя' %}
                                </a>
                            </p>
                            <form method="POST" id="performers_form" name="performers_form">
                                {% csrf_token %}
                                <div class="collapse" id="collapseExample">
                                    <div class="card card-body">

                                        <h2 class="h6 text-center fw-bold">{% trans 'Информация об исполнителе' %}</h2>
                                        <div class="row border p-3 m-3">

                                            <input type="hidden" name="project_order"
                                                   value="{{ project_order.id }}">
                                            <div class="col-md-4">
                                                <label for="lastName"
                                                       class="form-label">{% trans 'Фамилия на русском:' %}</label>
                                                {{ form.last_name_ru|add_class:'form-control'|attr:'id:lastName_ru'|attr:'required' }}
                                            </div>
                                            <div class="col-md-4">
                                                <label for="firstName"
                                                       class="form-label">{% trans 'Имя на русском:' %}</label>
                                                {{ form.first_name_ru|add_class:'form-control'|attr:'id:firstName_ru'|attr:'required' }}
                                            </div>
                                            <div class="col-md-4">
                                                <label for="midName"
                                                       class="form-label">{% trans 'Отчество на русском:' %}</label>
                                                {{ form.middle_name_ru|add_class:'form-control'|attr:'id:midName_ru'|attr:not_required }}
                                            </div>

                                            <div class="col-md-4">
                                                <label for="lastName"
                                                       class="form-label">{% trans 'Фамилия на английском:' %}</label>
                                                {{ form.last_name_en|add_class:'form-control'|attr:'id:lastName_en'|attr:'required' }}
                                            </div>
                                            <div class="col-md-4">
                                                <label for="firstName"
                                                       class="form-label">{% trans 'Имя на английском:' %}</label>
                                                {{ form.first_name_en|add_class:'form-control'|attr:'id:firstName_en'|attr:'required' }}
                                            </div>
                                            <div class="col-md-4">
                                                <label for="midName"
                                                       class="form-label">{% trans 'Отчество на английском:' %}</label>
                                                {{ form.middle_name_en|add_class:'form-control'|attr:'id:midName_en'|attr:not_required }}
                                            </div>

                                            <div class="col-md-4">
                                                <label for="birthDay"
                                                       class="form-label">{% trans 'Дата рождения' %}</label>
                                                {{ form.birthday|add_class:'form-control'|attr:'id:birthDay'|attr:'type:date'|attr:'required' }}
                                            </div>

                                            <div class="col-md-4">
                                                <label for="appeal"
                                                       class="form-label">{% trans 'Обращение' %}</label>
                                                {{ form.appeal|add_class:'form-select'|attr:'id:appeal'|attr:'required' }}
                                            </div>

                                            <div class="col-md-4">
                                                <label for="appeal"
                                                       class="form-label">{% trans 'Должность исполнителя в проекте' %}</label>
                                                {{ form.project_position|add_class:'form-select'|attr:'id:project_position'|attr:'required' }}
                                            </div>


                                        </div>


                                        <h2 class="h6 text-center fw-bold">{% trans 'Места работы' %}</h2>
                                        <div class="row border p-3 m-3">
                                            <div class="col-md-6">
                                                <label for="workPlaceRu"
                                                       class="form-label">{% trans 'Полное название на русском:' %} </label>
                                                {{ form.work_place_ru|add_class:'form-control'|attr:'id:workPlaceRu'|attr:"required" }}
                                            </div>

                                            <div class="col-md-6">
                                                <label for="workPlaceEn"
                                                       class="form-label">{% trans 'Полное название на английском:' %}</label>
                                                {{ form.work_place_en|add_class:'form-control'|attr:'id:workPlaceEn'|attr:"required" }}
                                            </div>

                                        </div>

                                        {#                                    <h2 class="h6 text-center fw-bold">Публикации</h2>#}
                                        {#                                    <div class="row border p-3 m-3">#}
                                        {#                                        <div class="col-md-12">#}
                                        {#                                            <label for="publicationCount" class="form-label">Общее число публикаций#}
                                        {#                                                (включая тезисы докладов).</label>#}
                                        {#                                            {{ form.public_count|add_class:'form-control'|attr:'id:publicationCount' }}#}
                                        {#                                        </div>#}
                                        {#                                    </div>#}

                                        <h2 class="h6 text-center fw-bold">{% trans 'Адрес' %}</h2>
                                        <div class="row border p-3 m-3">
                                            <div class="col-md-3">
                                                <label for="zip"
                                                       class="form-label">{% trans 'Почтовый индекс' %}</label>
                                                {{ form.address_zip|add_class:'form-control'|attr:'id:zip'|attr:'required' }}
                                            </div>
                                            <div class="col-md-3">
                                                <label for="country"
                                                       class="form-label">{% trans 'Страна' %}</label>
                                                {{ form.address_country|add_class:'form-control'|attr:'id:country'|attr:'required' }}
                                            </div>
                                            <div class="col-md-6">
                                                <label for="region"
                                                       class="form-label">{% trans 'Название области и города' %}</label>
                                                {{ form.address_region|add_class:'form-control'|attr:'id:region'|attr:'required' }}
                                            </div>
                                            <div class="col-md-12">
                                                <label for="address"
                                                       class="form-label">{% trans 'Улица, номер дома / квартиры' %}</label>
                                                {{ form.address_street|add_class:'form-control'|attr:'id:address'|attr:'required' }}
                                            </div>
                                            <div class="col-md-4">
                                                <label for="workPhone"
                                                       class="form-label">{% trans 'Телефон рабочий ' %}</label>
                                                {{ form.work_phone_number|add_class:'form-control'|attr:'id:workPhone'|attr:'required' }}
                                            </div>
                                            <div class="col-md-4">
                                                <label for="homehone"
                                                       class="form-label">{% trans 'Мобильный телефон' %} </label>
                                                {{ form.home_phone_number|add_class:'form-control'|attr:'id:homehone'|attr:'required' }}
                                            </div>
                                            <div class="col-md-4">
                                                <label for="emailAdress"
                                                       class="form-label">{% trans 'E-mail' %} </label>
                                                {{ form.email|add_class:'form-control'|attr:'id:emailAdress'|attr:'required' }}
                                            </div>
                                            <div class="col-md-6">
                                                <label for="AddData"
                                                       class="form-label">{% trans 'Дополнительные данные на русском:' %} </label>
                                                {{ form.additionaly_data_ru|add_class:'form-control fixed-count-100'|attr:'id:AddData'|attr:not_required }}
                                                <div class="form-text">{% trans 'Максимальное количество слов - 100' %}</div>
                                            </div>
                                            <div class="col-md-6">
                                                <label for="AddData"
                                                       class="form-label">{% trans 'Дополнительные данные на английском:' %} </label>
                                                {{ form.additionaly_data_en|add_class:'form-control fixed-count-100'|attr:'id:AddData'|attr:not_required }}
                                                <div class="form-text">{% trans 'Максимальное количество слов - 100' %}</div>
                                            </div>
                                            <div class="col-md-12 float-right">
                                                <button class="btn btn-primary mt-4 " id="graphic_one_button"
                                                        type="button" onclick="savePerformers()"
                                                >{% trans 'Сохранить' %}</button>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <form method="post" id="last_form_submit" enctype="multipart/form-data" name="last_submit_form">
                        <div class="col-md-12">
                            <div class="row  border m-0 p-3">
                                <div class="col-md-6">


                                    <div class="mb-3">
                                        <label for="start_time"
                                               class="form-label">{% trans 'Сроки выполнения - год начала' %} </label>
                                        <input onkeypress="return false" type="month" min="today"
                                               value="{{ graphic.start_time|date:"Y-m" }}"
                                               onchange="onStartTimeChanged()" class="form-control required_input"
                                               required id="start_time" placeholder="" name="start_time">
                                        <p id="danger_message"></p>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="end_time"
                                               class="form-label">{% trans 'Сроки выполнения - год окончания' %}</label>
                                        <input type="month" onkeypress="return false" value="{{ graphic.end_time|date:"Y-m" }}"
                                               class="form-control required_input" form="last_form_submit" readonly required
                                               id="end_time"
                                               placeholder="" name="end_time" onclick="end_time_change()">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <input type="hidden" name="project_percent" id="id_project_percent">


                        <div class="row">
                            {% csrf_token %}
                            <div class="col-6 mt-3">
                                <a href="{% url 'step_one' %}?project_order={{ project_order.id }}&type_event={{ project_order.type_event.id }}"
                                   class="btn btn-info w-100">{% translate 'Назад' %} <i class="fas fa-backward"></i>
                                </a>
                            </div>
                            <input type="hidden" value="true" name="last_submit">
                            <div class="col-6 mt-3">
                                <button type="button" id="save_button" onclick="saveAll2()"
                                        class="btn btn-primary w-100">{% trans 'Сохранить и перейти на следующий этап' %}<i
                                        class="fas fa-forward"></i></button>
                            </div>
                        </div>

                    </form>
                </div>
                <!--form-->
            </div>

        </div>
    </main>

    {% include 'layout/footer.html' with ru_url='/ru/step/1?project_order=' en_url='/en/step/1?project_order=' pk=project_order.id %}
{% endblock %}

{% block extra_js %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
    <script src="{% static 'ckeditor/ckeditor/plugins/wordcount/plugin.js' %}"></script>
    <script src="{% static 'ckeditor/ckeditor/plugins/wordcount/lang/en.js' %}"></script>
    <script>
        {% get_current_language as LANGUAGE_CODE %}
        {% if LANGUAGE_CODE == 'en' %}
            let language = 'en';
        {% else %}
            let language = 'ru';
        {% endif %}
        var tgroup = [
            {#{ name: 'document', groups: [ 'mode', 'document', 'doctools' ] },#}
            {#{ name: 'clipboard', groups: [ 'clipboard', 'undo' ] },#}
            {#{ name: 'editing', groups: [ 'find', 'selection', 'spellchecker', 'editing' ] },#}
            {#{ name: 'forms', groups: [ 'forms' ] },#}
            {name: 'basicstyles', groups: ['basicstyles', 'cleanup']},
            {name: 'paragraph', groups: ['list', 'indent', 'blocks', 'align', 'bidi', 'paragraph']},
            {#{ name: 'links', groups: [ 'links' ] },#}
            {#{ name: 'insert', groups: [ 'insert' ] },#}
            {#{ name: 'styles', groups: [ 'styles' ] },#}
            {#{ name: 'colors', groups: [ 'colors' ] },#}
            {#{ name: 'tools', groups: [ 'tools' ] },#}
            {#{ name: 'others', groups: [ 'others' ] },#}
            {#{ name: 'about', groups: [ 'about' ] }#}
        ];
        CKEDITOR.replace('content_ru', {
            toolbar: [
                {
                    name: 'basicstyles',
                    items: ['Bold', 'Italic', 'Underline', 'Strike', 'Subscript', 'Superscript', '-', 'CopyFormatting', 'RemoveFormat']
                },
                {
                    name: 'paragraph',
                    items: ['NumberedList', 'BulletedList', '-', 'Outdent', 'Indent', '-', 'Blockquote', 'CreateDiv', '-', 'JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock', '-', 'BidiLtr', 'BidiRtl']
                },
                '/',
                {name: 'styles', items: ['Styles', 'Format', 'Font', 'FontSize']},
                {name: 'colors', items: ['TextColor', 'BGColor']},
            ],
             wordcount: {
                showParagraphs: false,
                showWordCount: true,
                showCharCount: true,
                countSpacesAsChars: false,
                countHTML: false,
                maxWordCount: 1000,
                maxCharCount: -1
            },
            extraPlugins: 'wordcount',
            language:language
        });
        CKEDITOR.replace('content_en', {
            toolbar: [
                {
                    name: 'basicstyles',
                    items: ['Bold', 'Italic', 'Underline', 'Strike', 'Subscript', 'Superscript', '-', 'CopyFormatting', 'RemoveFormat']
                },
                {
                    name: 'paragraph',
                    items: ['NumberedList', 'BulletedList', '-', 'Outdent', 'Indent', '-', 'Blockquote', 'CreateDiv', '-', 'JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock', '-', 'BidiLtr', 'BidiRtl']
                },
                '/',
                {name: 'styles', items: ['Styles', 'Format', 'Font', 'FontSize']},
                {name: 'colors', items: ['TextColor', 'BGColor']},
            ],
            wordcount: {
                showParagraphs: false,
                showWordCount: true,
                showCharCount: true,
                countSpacesAsChars: false,
                countHTML: false,
                maxWordCount: 1000,
                maxCharCount: -1
            },
            extraPlugins: 'wordcount',
            language:language

        })
        CKEDITOR.replace('interregional_nature_ru', {
            toolbar: [
                {
                    name: 'basicstyles',
                    items: ['Bold', 'Italic', 'Underline', 'Strike', 'Subscript', 'Superscript', '-', 'CopyFormatting', 'RemoveFormat']
                },
                {
                    name: 'paragraph',
                    items: ['NumberedList', 'BulletedList', '-', 'Outdent', 'Indent', '-', 'Blockquote', 'CreateDiv', '-', 'JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock', '-', 'BidiLtr', 'BidiRtl']
                },
                '/',
                {name: 'styles', items: ['Styles', 'Format', 'Font', 'FontSize']},
                {name: 'colors', items: ['TextColor', 'BGColor']},
            ],
            language:language
        })
        CKEDITOR.replace('relevance_ru', {
            toolbar: [
                {
                    name: 'basicstyles',
                    items: ['Bold', 'Italic', 'Underline', 'Strike', 'Subscript', 'Superscript', '-', 'CopyFormatting', 'RemoveFormat']
                },
                {
                    name: 'paragraph',
                    items: ['NumberedList', 'BulletedList', '-', 'Outdent', 'Indent', '-', 'Blockquote', 'CreateDiv', '-', 'JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock', '-', 'BidiLtr', 'BidiRtl']
                },
                '/',
                {name: 'styles', items: ['Styles', 'Format', 'Font', 'FontSize']},
                {name: 'colors', items: ['TextColor', 'BGColor']},
            ],
             wordcount: {
                showParagraphs: false,
                showWordCount: true,
                showCharCount: true,
                countSpacesAsChars: false,
                countHTML: false,
                maxWordCount: 200,
                maxCharCount: -1
            },
            extraPlugins: 'wordcount',
            language:language
        })
        CKEDITOR.replace('relevance_en', {
            toolbar: [
                {
                    name: 'basicstyles',
                    items: ['Bold', 'Italic', 'Underline', 'Strike', 'Subscript', 'Superscript', '-', 'CopyFormatting', 'RemoveFormat']
                },
                {
                    name: 'paragraph',
                    items: ['NumberedList', 'BulletedList', '-', 'Outdent', 'Indent', '-', 'Blockquote', 'CreateDiv', '-', 'JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock', '-', 'BidiLtr', 'BidiRtl']
                },
                '/',
                {name: 'styles', items: ['Styles', 'Format', 'Font', 'FontSize']},
                {name: 'colors', items: ['TextColor', 'BGColor']},
            ],
             wordcount: {
                showParagraphs: false,
                showWordCount: true,
                showCharCount: true,
                countSpacesAsChars: false,
                countHTML: false,
                maxWordCount: 200,
                maxCharCount: -1
            },
            extraPlugins: 'wordcount',
            language:language
        })
        CKEDITOR.replace('interregional_nature_en', {
            toolbar: [
                {
                    name: 'basicstyles',
                    items: ['Bold', 'Italic', 'Underline', 'Strike', 'Subscript', 'Superscript', '-', 'CopyFormatting', 'RemoveFormat']
                },
                {
                    name: 'paragraph',
                    items: ['NumberedList', 'BulletedList', '-', 'Outdent', 'Indent', '-', 'Blockquote', 'CreateDiv', '-', 'JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock', '-', 'BidiLtr', 'BidiRtl']
                },
                '/',
                {name: 'styles', items: ['Styles', 'Format', 'Font', 'FontSize']},
                {name: 'colors', items: ['TextColor', 'BGColor']},
            ],
        })

        CKEDITOR.replace('novelty_c_en', {
            toolbar: [
                {
                    name: 'basicstyles',
                    items: ['Bold', 'Italic', 'Underline', 'Strike', 'Subscript', 'Superscript', '-', 'CopyFormatting', 'RemoveFormat']
                },
                {
                    name: 'paragraph',
                    items: ['NumberedList', 'BulletedList', '-', 'Outdent', 'Indent', '-', 'Blockquote', 'CreateDiv', '-', 'JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock', '-', 'BidiLtr', 'BidiRtl']
                },
                '/',
                {name: 'styles', items: ['Styles', 'Format', 'Font', 'FontSize']},
                {name: 'colors', items: ['TextColor', 'BGColor']},
            ],
        })
        CKEDITOR.replace('novelty_c_ru', {
            toolbar: [
                {
                    name: 'basicstyles',
                    items: ['Bold', 'Italic', 'Underline', 'Strike', 'Subscript', 'Superscript', '-', 'CopyFormatting', 'RemoveFormat']
                },
                {
                    name: 'paragraph',
                    items: ['NumberedList', 'BulletedList', '-', 'Outdent', 'Indent', '-', 'Blockquote', 'CreateDiv', '-', 'JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock', '-', 'BidiLtr', 'BidiRtl']
                },
                '/',
                {name: 'styles', items: ['Styles', 'Format', 'Font', 'FontSize']},
                {name: 'colors', items: ['TextColor', 'BGColor']},
            ],
        })


        {#CKEDITOR.replace('content_en');#}
        document.addEventListener("DOMContentLoaded", function (event) {
            let date = new Date();
            let mm = date.getMonth() + 1; //January is 0!
            let yyyy = date.getFullYear();
            if (mm < 10) {
                mm = '0' + mm
            }
            let start_date = yyyy + '-' + mm;
            document.getElementById('start_time').setAttribute('min', '2024-01');
            document.getElementById('start_time').setAttribute('max', '2025-10');
            if (document.getElementById("start_time").value) {
                let date = new Date(start_time.value);
                date.setFullYear(date.getFullYear() + 2);
                let mm = date.getMonth() + 1; //January is 0!
                let yyyy = date.getFullYear();
                if (mm < 10) {
                    mm = '0' + mm
                }
                let end_date = yyyy + '-' + mm;
                end_time.setAttribute('min', '2024-01')
                end_time.setAttribute('max', '2025-11')
                end_time.removeAttribute('readonly');
            }
        });

        function onStartTimeChanged() {
            let start_time = document.getElementById('start_time');
            let end_time = document.getElementById('end_time');
            let date = new Date(start_time.value);
            let end_date = new Date(end_time.value);
            let save_button = document.getElementById('save_button');
            date.setFullYear(date.getFullYear() + 2);
            let mm = date.getMonth() + 1; //January i 0!s
            let yyyy = date.getFullYear();
            if (mm < 10) {
                mm = '0' + mm
            }
            {#let end_date = yyyy+'-'+mm;#}
            end_time.setAttribute('min', '2024-01')
            end_time.setAttribute('max', '2025-11')
            end_time.removeAttribute('readonly');

            if (end_date.getTime() < date.getTime()) {
                console.log(date)
                console.log(end_date)
                document.getElementById('danger_message').textContent = '{% translate 'Неправильно указан конец срока' %}';
                save_button.setAttribute('disabled', 'true');
            } else {
                save_button.removeAttribute('disabled', 'false');
            }
        }

        function sendFetch(form_name, func) {
            let form_data = new FormData(document.forms.namedItem(form_name));
            let result = fetch('{% url 'step_two_actions' %}', {
                method: 'POST',
                body: form_data
            }).then((response_data) => {
                return response_data.json()
            }).then((response_data) => {
                func(response_data)
            })
        }

        function monographSuccses(data) {
            console.log(data);
            let template = `
            <tr id="monograph_${data.monograph_id}">
                <td id="monograph_plan_ru_${data.monograph_id}">${data.plan_ru}</td>
                <td id="monograph_plan_en_${data.monograph_id}">${data.plan_en}</td>
                <td id="monograph_cost_${data.monograph_id}">${data.cost}</td>
                <td id="monograph_funding_ru_${data.monograph_id}">${data.funding_ru}</td>
                <td id="monograph_funding_en_${data.monograph_id}">${data.funding_en}</td>
                <td>
                    <button type="button" class="btn btn-danger btn-sm sharp" onclick="monographDelete(${data.monograph_id})"><i class="fas fa-trash"></i></button>
                </td>
            </tr>
            `;
            document.getElementById('new_monograph_plan_ru').value = '';
            document.getElementById('new_monograph_plan_en').value = '';
            document.getElementById('new_monograph_cost').value = '';
            document.getElementById('new_monograph_funding_ru').value = '';
            document.getElementById('new_monograph_funding_en').value = '';

            document.getElementById('monograph_tbody').innerHTML += template
        }

        function researchArticleSuccses(data) {
            console.log(data);
            let template = `
            <tr id="research_article_${data.research_article_id}">
                <td id="research_article_plan_ru_${data.research_article_id}">${data.plan_ru}</td>
                <td id="research_article_plan_en_${data.research_article_id}">${data.plan_en}</td>
                <td id="research_article_cost_${data.research_article_id}">${data.cost}</td>
                <td id="research_article_funding_ru_${data.research_article_id}">${data.funding_ru}</td>
                <td id="research_article_funding_en_${data.research_article_id}">${data.funding_en}</td>
                <td>
                    <button type="button" class="btn btn-danger btn-sm sharp" onclick="researchArticleDelete(${data.research_article_id})"><i class="fas fa-trash"></i></button>
                </td>
            </tr>
            `;

            document.getElementById('new_research_article_plan_ru').value = '';
            document.getElementById('new_research_article_plan_en').value = '';
            document.getElementById('new_research_article_cost').value = '';
            document.getElementById('new_research_article_funding_ru').value = '';
            document.getElementById('new_research_article_funding_en').value = '';
            document.getElementById('research_article_tbody').innerHTML += template
        }

        function monographDelete(id) {
            let form_data = new FormData();
            form_data.append('monograph_id', id);
            form_data.append('action', 'monograph_delete');
            let csrf_value = document.querySelector('input[name=csrfmiddlewaretoken]').value;
            form_data.append('csrfmiddlewaretoken', csrf_value);
            fetch('{% url 'step_two_actions' %}', {
                method: 'POST',
                body: form_data
            }).then((data) => {
                document.getElementById(`monograph_${id}`).remove()
            })
        }

        function researchArticleDelete(id) {
            let form_data = new FormData();
            form_data.append('research_article_id', id);
            form_data.append('action', 'research_article_delete');
            let csrf_value = document.querySelector('input[name=csrfmiddlewaretoken]').value;
            form_data.append('csrfmiddlewaretoken', csrf_value);
            fetch('{% url 'step_two_actions' %}', {
                method: 'POST',
                body: form_data
            }).then((data) => {
                document.getElementById(`research_article_${id}`).remove()
            })
        }

        async function savePerformers() {
            let form_data = new FormData(document.forms.namedItem('performers_form'));
            form_data.append('response_type', 'json');
            await fetch(location.href, {
                method: 'post',
                body: form_data
            }).then((data) => {
                return data.json()
            }).then((response_data) => {
                console.log(response_data);
                let middle_name_ru = '';
                let middle_name_en = '';
                let work_position_ru = 'Руководитель';
                if (response_data['middle_name_ru'] && response_data['middle_name_ru'] !== 'null') {
                    middle_name_ru = response_data['middle_name_ru']
                }
                if (response_data['middle_name_en'] && response_data['middle_name_en'] !== 'null') {
                    middle_name_en = response_data['middle_name_en']
                }
                if (response_data['project_position'] === 'executor') {
                    work_position_ru = 'Исполнитель';
                }
                response_data['birthday'] = response_data['birthday'].split('-').reverse().join('.');
                let template = `
                <tr id="performer_${response_data['id']}">
                    <td>
                        ${response_data['appeal_name_ru']} ${response_data['first_name_ru']} ${response_data['last_name_ru']} ${middle_name_ru} <br>
                        ${response_data['birthday']}<br>
                        Почтовый адрес: ${response_data['address_zip']} г. ${response_data['address_country_name_ru']} ${response_data['address_street']}<br>
                        Телефон рабочий: ${response_data['work_phone_number']} и домашний ${response_data['home_phone_number']}<br>
                        Адресс электронной почты: ${response_data['email']}<br>
                        ${response_data['project_position_ru']}<br>
                        Дополнительные данные:<br>
                        ${response_data['additionaly_data_ru']}<br>
                    </td>
                    <td>
                        ${response_data['appeal_name_en']} ${response_data['first_name_en']} ${response_data['last_name_en']} ${middle_name_en}<br>
                        ${response_data['birthday']}<br>
                        Почтовый адрес: ${response_data['address_zip']} ${response_data['address_country_name_en']} ${response_data['address_street']}<br>
                        Телефон рабочий: ${response_data['work_phone_number']} и домашний ${response_data['home_phone_number']}<br>
                        Адресс электронной почты: ${response_data['email']}<br>
                        ${response_data['project_position']}<br>
                        Additional data:<br>
                        ${response_data['additionaly_data_en']}<br>
                    </td>
                    <td>

                        <a href="http://localhost:8000/ru/graphic/two/update/${response_data['id']}/?back_url={{ request.path }}&project_order={{ project_order.id }}"
                           class="btn btn-info btn-sm"><i class="fas fa-edit"></i></a>
                        <input type="hidden" value="update" name="action">

                    </td>
                    <td>
                        <button type="button" onclick="deletePerformer(${response_data['id']})" class="btn btn-danger btn-sm"><i
                                class="fas fa-trash"></i></button>
                    </td>
                </tr>
                `;
                document.getElementById('performers_tbody').innerHTML += template;
                document.forms.namedItem('performers_form').reset();
            })
        }

        function deletePerformer(id) {
            let form_data = new FormData();
            form_data.append('action', 'delete_performer');
            form_data.append('performer_id', id);
            let csrf_input = document.querySelector('input[name=csrfmiddlewaretoken]');
            form_data.append('csrfmiddlewaretoken', csrf_input.value);

            fetch('{% url 'step_two_actions' %}', {
                method: 'POST',
                body: form_data
            }).then((response) => {
                document.getElementById(`performer_${id}`).remove();
            })
        }

        async function saveAll2() {
            let form_data = new FormData(document.forms.namedItem('performers_form'));
            await fetch(location.href, {
                method: 'post',
                body: form_data
            }).then((data) => {
                if (document.forms.namedItem('last_submit_form').checkValidity()) {
                    document.forms.namedItem('last_submit_form').submit()
                }
                else {
                    document.forms.namedItem('last_submit_form').reportValidity()
                }
            })
        }

        function end_time_change() {
            let start_time = document.getElementById('start_time');
            let end_time = document.getElementById('end_time');
            let save_button = document.getElementById('save_button');
            let date = new Date(start_time.value);
            let end_date = new Date(end_time.value);

            if (end_date.getTime() < date.getTime()) {
                console.log(date);
                console.log(end_date);
                document.getElementById('danger_message').textContent = '{% translate 'Неправильно указан конец срока' %}';
                save_button.setAttribute('disabled', 'true');
            } else {
                save_button.removeAttribute('disabled', 'false');
                document.getElementById('danger_message').textContent = ''
            }
        }

        $('.fixed-count').on('input', (e) => {
            if (e.target.value.split(' ').length > 20) {
                let textVal = $(`#${e.target.id}`).val();
                $(`#${e.target.id}`).val(textVal.split(' ').slice(0, 20).join(' '));
                {#$(`#${e.target.id}`).val(textVal.substring(0, textVal.length - 1));#}
            }
        })

        $('.fixed-count-long').on('input', (e) => {
            if (e.target.value.split(' ').length > 1000) {
                let textVal = $(`#${e.target.id}`).val();
                $(`#${e.target.id}`).val(textVal.split(' ').slice(0, 1000).join(' '));
                {#$(`#${e.target.id}`).val(textVal.substring(0, textVal.length - 1));#}
            }
        })

        $('.fixed-count-mid').on('input', (e) => {
            if (e.target.value.split(' ').length > 500) {
                let textVal = $(`#${e.target.id}`).val();
                $(`#${e.target.id}`).val(textVal.split(' ').slice(0, 500).join(' '));
                {#$(`#${e.target.id}`).val(textVal.substring(0, textVal.length - 1));#}
            }
        })
        $('.fixed-count-min').on('input', (e) => {
            if (e.target.value.split(' ').length > 200) {
                let textVal = $(`#${e.target.id}`).val();
                $(`#${e.target.id}`).val(textVal.split(' ').slice(0, 200).join(' '));
                {#$(`#${e.target.id}`).val(textVal.substring(0, textVal.length - 1));#}
            }
        })
        $('.fixed-count-100').on('input', (e) => {
            if (e.target.value.split(' ').length > 100) {
                let textVal = $(`#${e.target.id}`).val();
                $(`#${e.target.id}`).val(textVal.split(' ').slice(0, 100).join(' '));
                {#$(`#${e.target.id}`).val(textVal.substring(0, textVal.length - 1));#}
            }
        })

    </script>
    <script>
        function toggleElementById(target, toggleElemId) {
            if (target.checked) {
                let remove = document.getElementById(toggleElemId);
                remove.classList.remove('d-none')
            } else {
                let remove = document.getElementById(toggleElemId);
                remove.classList.add('d-none')
            }
        }

        function removeClass() {
            let remove = document.getElementById('remove')
            remove.classList.toggle('d-none')
        }

        function removeClassAmount() {
            let remove = document.getElementById('additionaly_amount_file')
            remove.classList.toggle('d-none')
        }

        function removeClassNovelty() {
            let remove = document.getElementById('novelty_b_file')
            remove.classList.toggle('d-none')
        }

    </script>
{% endblock extra_js %}