{% extends 'layout/base.html' %}
{% load static i18n widget_tweaks %}
{% block content %}
    {% trans 'Шаг 4 Форма для загрузки рецензии' as item %}

    {% include 'layout/breadcrumbs.html' with adds=item %}
    <main>
        <div class="container mt-2">
            <div class="row">
                {% include 'layout/navigation.html' %}
            </div>

            <div class="container mt-2">
                <div class="row">
                    <h3>{% translate 'Форма для загрузки. Наличие рецензии/рекомендации известного ученого' %} </h3>
                    <div class="card mb-3">
                        <div class="card-body">
                            <form method="post" enctype="multipart/form-data">
                                <input type="hidden" name="project_order" value="{{ project_order.id }}">
                                {% csrf_token %}
                                <div>
                                    <label for="formFileLg" class="form-label">{% translate 'Файл на русском' %}</label>
                                    {{ form.file_ru|add_class:'form-control form-control-lg'|attr:'id:formFileLg'|attr:'type:file'|attr:'accept:application/pdf'|attr:'required' }}
                                    {#                    <input class="form-control form-control-lg" id="formFileLg" type="file">#}
                                </div>
                                <div>
                                    <label for="formFileLg" class="form-label">{% translate 'Файл на английском' %}</label>
                                    {{ form.file_en|add_class:'form-control form-control-lg'|attr:'id:formFileLg'|attr:'type:file'|attr:'accept:application/pdf'|attr:'required' }}
                                    {#                    <input class="form-control form-control-lg" id="formFileLg" type="file">#}
                                </div>
                                <button type="submit" class="btn btn-primary  mt-4 ">{% translate 'Добавить Файл' %}</button>
                            </form>
                            {{ form.errors }}
                        </div>
                    </div>


                    <h3>{% translate 'Загруженные файлы:' %}</h3>
                    {% for f in files %}
                        {% if f.file_ru %}
                            <div class="alert alert-primary" role="alert">
                                <h5>{% translate 'Файл на русском' %}</h5>
                                {{ f.file_ru }}
                                <a href="{% url 'graphic_six_delete' f.id %}?project_order={{ project_order.id }}&lang=ru" class="btn btn-danger" style="float:right !important;"><i class="fas fa-trash"></i></a>
                            </div>
                        {% endif %}
                        {% if f.file_en %}
                            <div class="alert alert-primary" role="alert">
                                <h5>{% translate 'Файл на английском' %}</h5>
                                {{ f.file_en }}
                                <a href="{% url 'graphic_six_delete' f.id %}?project_order={{ project_order.id }}&lang=en" class="btn btn-danger" style="float:right !important;"><i class="fas fa-trash"></i></a>
                            </div>
                        {% endif %}
                    {% endfor %}
                    <div class="col-6 mt-3">
                        <a href="/ru/step/4/?project_order={{ project_order.id }}" class="btn btn-info w-100"> {% translate 'Назад' %}
                            <i class="fas fa-backward"></i>
                        </a>
                    </div>
                    <div class="col-6 mt-3">
                        <a href="{% url 'order-detail' project_order.id %}?project_order={{ project_order.id }}"
                           class="btn btn-primary w-100">{% translate 'Сохранить и закончить' %}</a>
                    </div>


                </div>
            </div>
        </div>
    </main>
    {% include 'layout/footer.html' with ru_url='/ru/step/5?project_order=' en_url='/en/step/5?project_order=' pk=project_order.id %}

{% endblock %}