{% extends 'layout/base.html' %}
{% load static i18n %}

{% block content %}
    {% trans 'Создание проекта' as item %}
    {% include 'layout/breadcrumbs.html' with adds=item %}
    <main>
        <div class="container mt-2">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="h4 text-center">
                        {% trans 'ФОРМА ПОДАЧИ НАУЧНЫХ ПРОЕКТОВ' %}
                    </h1>
                </div>
                {#                {% include 'layout/navigation.html' %}#}
            </div>

            <div class="row mt-3">
                <div class="col-md-12"><h2 class="text-start h5">{% trans 'Форма создание проекта' %}</h2>
                    <hr/>
                </div>
                <!--form-->
                <form method="post" action="{% url 'step_one' %}">
                    <div class="row">
                        {% csrf_token %}
                        <div class="col-md-12">
                            <label for="" class="form-label">{% trans 'Тип проекта' %}</label>
                            <select class="form-select mb-3" aria-label=".form-select-sm example" name="type"
                                    id="type_id" onchange="typeChange(this)">
                                {% for type in types %}
                                    {% if project_order.type_id == type.id %}
                                        <option selected value="{{ type.id }}">{{ type.name }}</option>
                                    {% else %}
                                        <option value="{{ type.id }}">{{ type.name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-12">
                            <label for="" class="form-label">{% trans 'Категория проекта' %}</label>
                            <select class="form-select mb-3" aria-label=".form-select-sm example" name="type_category"
                                    id="category_project">

                            </select>
                        </div>
                        <input type="hidden" name="project_order" value="{{ project_order.id }}">
                        <input type="hidden" name="type_event" value="{{ type_event }}">
                        {#                        <div class="col-md-12">#}
                        {#                            <label for="" class="form-label">Сфера проекта</label>#}
                        {#                            <select class="form-select mb-3" aria-label=".form-select-sm example" name="spheres">#}
                        {#                                {% for sphere in spheres %}#}
                        {#                                    {% if project_order.project_sphere_id == type.id %}#}
                        {#                                    <option value="{{ sphere.id }}">{{ sphere.name }}</option>#}
                        {#                                    {% else %}#}
                        {#                                    <option value="{{ sphere.id }}">{{ sphere.name }}</option>#}
                        {#                                    {% endif %}#}
                        {#                                {% endfor %}#}
                        {#                            </select>#}
                        {#                        </div>#}

                        <div class="col-md-12">
                            <div class="mb-3">
                                <label for="title_pro_ru" class="form-label">{% trans 'Название проекта на русском:' %}</label>
                                <input type="text" required
                                       class="form-control fixed-count" id="title_pro_ru"
                                       placeholder=""
                                       name="title_ru" value="{{ project_order.title_ru }}">
                                <div class="form-text">{% trans 'Максимальное количество слов - 40' %}</div>
                            </div>
                            <div class="mb-3">
                                <label for="title_pro_en" class="form-label">{% trans 'Название проекта на английском:' %}</label>
                                <input type="text" required
                                       class="form-control fixed-count" id="title_pro_en"
                                       placeholder=""
                                       name="title_en" value="{{ project_order.title_en }}">
                                <div class="form-text">{% trans 'Максимальное количество слов - 40' %}</div>
                            </div>
                        </div>
                        <div class="col-6 mt-3"></div>
                        <div class="col-6 mt-3">
                            <button type="submit" class="btn btn-primary w-100">{% trans 'Сохранить и перейти на следующий этап ' %}<i
                                    class="fas fa-forward"></i></button>
                        </div>
                    </div>
                </form>
                <!--form-->
            </div>

        </div>
    </main>

    {% include 'layout/footer.html' with ru_url='/ru/step/0/?type_event=' en_url='/en/step/0/?type_event=' pk=type_event   %}
{% endblock %}
{% block extra_js %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script>
        let category_elem = document.getElementById('category_project');
        let options = {
            1: `<option value="1">{% trans 'Категории грантов 5 000 USD' %}</option>`,
            2: `<option value="1">{% trans 'Категории грантов 5 000 USD' %}</option>
                    <option value="2">{% trans 'Категории грантов 10 000 USD' %}</option>`,
            3: `<option value="1">{% trans 'Категории грантов 5 000 USD' %}</option>
                <option value="2">{% trans 'Категории грантов 10 000 USD' %}</option>
                <option value="3">{% trans 'Категории грантов 20 000 USD' %}</option>`
        };

        function typeChange(elem) {
            category_elem.innerHTML = options[elem.value]
        }

        document.addEventListener("DOMContentLoaded", function (event) {
            typeChange(document.getElementById('type_id'));
        });

        $('.fixed-count').on('input', (e) => {
            if (e.target.value.split(' ').length > 40) {
                let textVal = $(`#${e.target.id}`).val();
                //$(`#${e.target.id}`).val(textVal.substring(0, textVal.length - 1));
                $(`#${e.target.id}`).val(textVal.split(' ').slice(0, 40).join(' '));
            }
            console.log(e.target.value.split(' ').length);
        })

    </script>
{% endblock %}