{% extends 'layout/base.html' %}
{% load static widget_tweaks i18n %}
{% block content %}
    {% trans 'Шаг №2 Данные о руководителе и основных исполнителях проекта' as item %}
    {% trans 'placeholder:Необязательное поле' as not_required %}

    {% include 'layout/breadcrumbs.html' with adds=item %}
    <main>
        <div class="container mt-2">
            <div class="row">
                {% include 'layout/navigation.html' %}
            </div>

            <div class="row mt-3">
                <div class="col-md-12"><h2
                        class="text-start h5">{% trans 'Шаг №2 Данные о руководителе и основных исполнителях проекта' %}</h2>
                    <hr/>
                </div>
                <!--form-->
                <div>

                    {% csrf_token %}
                    <div class="row">

                        <div class="col-md-12">
                            <table class="table table-bordered table-sm">
                                <tr class="table-dark text-center">
                                    <td>{% trans 'Русский' %}</td>
                                    <td>{% trans 'Английский' %}</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                {% for graphic in graphic_two %}
                                    <tr>

                                        <td>
                                            {{ graphic.appeal.name_ru }} {{ graphic.last_name_ru }} {{ graphic.first_name_ru }} {{ graphic.middle_name_ru|default:"" }}
                                            <br>
                                            {{ graphic.birthday }}

                                            <br>
                                            Почтовый адрес: {{ graphic.address_zip }} г.
                                            {{ graphic.address_country }} {{ graphic.address_street }}
                                            <br>
                                            Телефон рабочий: {{ graphic.work_phone_number }} и домашний
                                            {{ graphic.home_phone_number }}
                                            <br>
                                            Адресс электронной почты: {{ graphic.email }}

                                        </td>
                                        <td>

                                            {{ graphic.appeal.name_en }} {{ graphic.last_name_en }} {{ graphic.first_name_en }} {{ graphic.middle_name_en|default:"" }}
                                            <br>
                                            {{ graphic.birthday }}
                                            <br>

                                            Mailing address: {{ graphic.address_zip }}
                                            г.{{ graphic.address_country }} {{ graphic.address_street }}
                                            <br>
                                            Phone: {{ graphic.work_phone_number }}
                                            {{ graphic.home_phone_number }}
                                            <br>
                                            Email: {{ graphic.email }}

                                        </td>

                                        {% csrf_token %}
                                        <td>

                                            <a href="{% url 'graphic_two_update' graphic.id %}?back_url={{ request.path }}&project_order={{ project_order.id }}"
                                               class="btn btn-info btn-sm"><i class="fas fa-edit"></i></a>
                                            <input type="hidden" value="update" name="action">

                                        </td>

                                        <form action="{% url 'ad_delete' %}" method="POST">
                                            {% csrf_token %}
                                            <td>
                                                <button type="submit" class="btn btn-danger btn-sm"><i
                                                        class="fas fa-trash"></i></button>
                                                <input type="hidden" value="delete" name="action">
                                                <input type="hidden" value="{{ project_order.id }}"
                                                       name="project_order">
                                                <input type="hidden" value="{{ graphic.id }}" name="graphic_id">
                                            </td>
                                        </form>

                                    </tr>
                                {% endfor %}
                            </table>
                        </div>


                        <form method="post" class="col-md-12">
                            {% csrf_token %}
                            <p class="text-center">
                                <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample"
                                   role="button" aria-expanded="false" aria-controls="collapseExample">
                                    {% trans 'Добавить исполнителя' %}
                                </a>
                            </p>
                            <div class="collapse" id="collapseExample">
                                <div class="card card-body">

                                    <h2 class="h6 text-center fw-bold">{% trans 'Информация об исполнителе' %}</h2>
                                    <div class="row border p-3 m-3">


                                        <div class="col-md-4">
                                            <label for="lastName"
                                                   class="form-label">{% trans 'Фамилия на русском:' %}</label>
                                            {{ form.last_name_ru|add_class:'form-control'|attr:'id:lastName_ru'|attr:'required' }}
                                        </div>
                                        <div class="col-md-4">
                                            <label for="firstName"
                                                   class="form-label">{% trans 'Имя на русском:' %}</label>
                                            {{ form.first_name_ru|add_class:'form-control'|attr:'id:firstName_ru'|attr:'required' }}
                                        </div>
                                        <div class="col-md-4">
                                            <label for="midName"
                                                   class="form-label">{% trans 'Отчество на русском:' %}</label>
                                            {{ form.middle_name_ru|add_class:'form-control'|attr:'id:midName_ru'|attr:not_required }}
                                        </div>

                                        <div class="col-md-4">
                                            <label for="lastName"
                                                   class="form-label">{% trans 'Фамилия на английском:' %}</label>
                                            {{ form.last_name_en|add_class:'form-control'|attr:'id:lastName_en'|attr:'required' }}
                                        </div>
                                        <div class="col-md-4">
                                            <label for="firstName"
                                                   class="form-label">{% trans 'Имя на английском:' %}</label>
                                            {{ form.first_name_en|add_class:'form-control'|attr:'id:firstName_en'|attr:'required' }}
                                        </div>
                                        <div class="col-md-4">
                                            <label for="midName"
                                                   class="form-label">{% trans 'Отчество на английском:' %}</label>
                                            {{ form.middle_name_en|add_class:'form-control'|attr:'id:midName_en'|attr:not_required }}
                                        </div>

                                        <div class="col-md-6">
                                            <label for="birthDay" class="form-label">{% trans 'Дата рождения' %}</label>
                                            {{ form.birthday|add_class:'form-control'|attr:'id:birthDay'|attr:'type:date'|attr:'required' }}
                                        </div>

                                        <div class="col-md-6">
                                            <label for="appeal" class="form-label">{% trans 'Обращение' %}</label>
                                            {{ form.appeal|add_class:'form-select'|attr:'id:appeal'|attr:'required' }}
                                        </div>


                                    </div>


                                    <h2 class="h6 text-center fw-bold">{% trans 'Места работы' %}</h2>
                                    <div class="row border p-3 m-3">
                                        <div class="col-md-6">
                                            <label for="workPlaceRu"
                                                   class="form-label">{% trans 'Полное название на русском:' %} </label>
                                            {{ form.work_place_ru|add_class:'form-control'|attr:'id:workPlaceRu'|attr:"required" }}
                                        </div>

                                        <div class="col-md-6">
                                            <label for="workPlaceEn"
                                                   class="form-label">{% trans 'Полное название на английском:' %}</label>
                                            {{ form.work_place_en|add_class:'form-control'|attr:'id:workPlaceEn'|attr:"required" }}
                                        </div>

                                        <input type="hidden" value="{{ project_order_id }}" name="project_order">
                                    </div>

                                    {#                                    <h2 class="h6 text-center fw-bold">Публикации</h2>#}
                                    {#                                    <div class="row border p-3 m-3">#}
                                    {#                                        <div class="col-md-12">#}
                                    {#                                            <label for="publicationCount" class="form-label">Общее число публикаций#}
                                    {#                                                (включая тезисы докладов).</label>#}
                                    {#                                            {{ form.public_count|add_class:'form-control'|attr:'id:publicationCount' }}#}
                                    {#                                        </div>#}
                                    {#                                    </div>#}

                                    <h2 class="h6 text-center fw-bold">{% trans 'Адрес' %}</h2>
                                    <div class="row border p-3 m-3">
                                        <div class="col-md-3">
                                            <label for="zip" class="form-label">{% trans 'Почтовый индекс' %}</label>
                                            {{ form.address_zip|add_class:'form-control'|attr:'id:zip'|attr:'required' }}
                                        </div>
                                        <div class="col-md-3">
                                            <label for="country" class="form-label">{% trans 'Страна' %}</label>
                                            {{ form.address_country|add_class:'form-control'|attr:'id:country'|attr:'required' }}
                                        </div>
                                        <div class="col-md-6">
                                            <label for="region"
                                                   class="form-label">{% trans 'Название области и города' %}</label>
                                            {{ form.address_region|add_class:'form-control'|attr:'id:region'|attr:'required' }}
                                        </div>
                                        <div class="col-md-12">
                                            <label for="address"
                                                   class="form-label">{% trans 'Улица, номер дома / квартиры' %}</label>
                                            {{ form.address_street|add_class:'form-control'|attr:'id:address'|attr:'required' }}
                                        </div>
                                        <div class="col-md-4">
                                            <label for="workPhone"
                                                   class="form-label">{% trans 'Телефон рабочий ' %}</label>
                                            {{ form.work_phone_number|add_class:'form-control'|attr:'id:workPhone'|attr:'required' }}
                                        </div>
                                        <div class="col-md-4">
                                            <label for="homehone"
                                                   class="form-label">{% trans 'Домашний рабочий' %} </label>
                                            {{ form.home_phone_number|add_class:'form-control'|attr:'id:homehone'|attr:'required' }}
                                        </div>
                                        <div class="col-md-4">
                                            <label for="emailAdress" class="form-label">{% trans 'E-mail' %} </label>
                                            {{ form.email|add_class:'form-control'|attr:'id:emailAdress'|attr:'required' }}
                                        </div>
                                        <div class="col-md-12 float-right">
                                            <button class="btn btn-primary mt-4 "
                                                    type="submit">{% trans 'Сохранить' %}</button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </form>


                        {% if warning_message %}<h1 class="text-center">{% translate 'Пожалуйста добавьте данные' %}</h1>{% endif %}
                        <form method="post">
                            {% csrf_token %}
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-6 mt-3">
                                        <a href="/ru/step/1/?project_order={{ project_order.id }}"
                                           class="btn btn-info w-100">{% trans 'Назад' %} <i
                                                class="fas fa-backward"></i>
                                        </a>
                                    </div>
                                    <input type="hidden" name="project_order" value="{{ project_order.id }}">
                                    <input type="hidden" name="last_save" value="yes">
                                    <div class="col-6 mt-3">
                                        <button id="save_button" type="submit"
                                                class="btn btn-primary w-100">{% trans 'Сохранить и перейти на следующий этап' %}<i
                                                class="fas fa-forward"></i></button>
                                    </div>
                                </div>
                            </div>
                        </form>


                    </div>

                </div>
                <!--form-->
            </div>

        </div>
    </main>

    {% include 'layout/footer.html' with ru_url='/ru/step/2?project_order=' en_url='/en/step/2?project_order=' pk=project_order.id %}

{% endblock %}

{% block extra_js %}
    {#        <script>#}
    {#            function checkInput() {#}
    {#this.rightclicked_item = 'asdszd'#}
    {#e.preventDefault()#}
    {#                let last_name = document.getElementById('lastName_ru').value#}
    {#                console.log(last_name)#}
    {#                if (last_name !== ' ') {#}
    {#                  document.getElementById('save_button').style.pointerEvents = 'none'#}
    {#                } else if (last_name) {#}
    {#                    document.getElementById('save_button').style.pointerEvents = 'auto'#}
    {#                } else {#}
    {#                    alert('Пошел на хуй')#}
    {#                }#}
    {#console.log('sadasd')#}
    {#            }#}
    {#setTimeout(checkInput, 100)#}
    {#        </script>#}


{% endblock %}