{% extends 'layout/base.html' %}
{% load static i18n %}
{% block content %}
    {% trans 'Шаг №3 Смета расходов' as item %}

    {% include 'layout/breadcrumbs.html' with adds=item %}


    <main>
        <div class="container mt-2">
            <div class="row">
                {% include 'layout/navigation.html' %}
            </div>

            <div class="row mt-3">
                <div class="col-md-12">
                    <h2 class="text-start h5">{% trans 'Шаг №3 Смета расходов' %} <span class="text-end"
                                                                                        style="float:right !important;">{% trans 'Все цены должны указываться в долларах США' %}</span>
                    </h2>
                    <hr/>
                </div>

                <!--form-->
                <form method="post">
                    <div class="row">


                        <div class="col-md-12">
                            <table class="table table-bordered table-sm">
                                <tr class="table-dark text-center">
                                    <td>#</td>
                                    <td colspan="2">{% trans 'Наименование статьи расходов' %}</td>
                                    <td colspan="2">{% trans 'Ед. измерения' %}</td>
                                    <td>{% trans 'Количество' %}</td>
                                    <td>{% trans 'Цена' %}</td>
                                    <td>{% trans 'Сумма' %}</td>
                                    <td colspan="3">{% trans 'Дополнительные источники' %}</td>
                                    <td>{% trans 'Действие' %}</td>

                                </tr>
                                <tr class="table-dark text-center">
                                    <td></td>
                                    <td>{% translate 'Русский' %}</td>
                                    <td>{% translate 'English' %}</td>
                                    <td>{% translate 'Русский' %}</td>
                                    <td>{% translate 'English' %}</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>{% trans 'Сумма' %}</td>
                                    <td>{% trans 'Текст (ru)' %}</td>
                                    <td>{% trans 'Текст (en)' %}</td>
                                    <td></td>

                                </tr>

                                {% for graphic in graphic_five %}
                                    <tr class="text-center">
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ graphic.name_ru }}</td>
                                        <td>{{ graphic.name_en }}</td>
                                        <td>{{ graphic.unit_type_ru }}</td>
                                        <td>{{ graphic.unit_type_en }}</td>
                                        <td>{{ graphic.count }}</td>
                                        <td>{{ graphic.price }}</td>
                                        <td>{{ graphic.amount }}</td>
                                        <td>{{ graphic.extra_amount }}</td>
                                        <td>{{ graphic.extra_text_ru|default:"" }}</td>
                                        <td>{{ graphic.extra_text_en|default:"" }}</td>
                                        <td><a href="{% url 'graphic_four_delete' graphic.id %}" class="btn btn-danger"><i
                                                class="fas fa-trash"></i></a></td>

                                        {#                                    <td><a href="#" class="btn btn-info btn-sm"><i class="fas fa-edit"></i></a></td>#}
                                        {#                                    <td><a href="#" class="btn btn-danger btn-sm"><i class="fas fa-trash"></i></a></td>#}
                                    </tr>
                                {% endfor %}

                                {#                                <tr class="text-center">#}
                                {#                                    <td>2</td>#}
                                {#                                    <td>Оплата труда работников</td>#}
                                {#                                    <td>Remuneration of workers</td>#}
                                {#                                    <td>2</td>#}
                                {#                                    <td>штук</td>#}
                                {#                                    <td>100</td>#}
                                {#                                    <td>200</td>#}
                                {#                                    <td>-</td>#}
                                {#                                    <td><a href="#" class="btn btn-info btn-sm"><i class="fas fa-edit"></i></a></td>#}
                                {#                                    <td><a href="#" class="btn btn-danger btn-sm"><i class="fas fa-trash"></i></a></td>#}
                                {#                                </tr>#}

                                <tr class="text-center table-dark">
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>{% translate 'Сумма:' %}</td>
                                    <td class="{% if warning_message %}text-danger{% endif %}">{{ amount }}</td>
                                    <td>{{ project_order.type.percent_title }}:</td>
                                    <td>{{ iicas_percent }}</td>
                                    <td>{% translate 'Итог:' %}</td>
                                    <td class="{% if warning_message %}text-danger{% endif %}">{{ total }}</td>
                                </tr>


                            </table>
                        </div>

                        <div class="col-md-12">
                            <div class="border m-0 p-3">
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="mb-3">
                                            <label for="attr_11_ru"
                                                   class="form-label">{% trans 'Наименование статьи расходов на русском:' %}</label>
                                            <input type="text" required class="form-control" id="attr_11_ru"
                                                   name="name_ru"
                                                   placeholder="">
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="mb-3">
                                            <label for="attr_unit"
                                                   class="form-label">{% trans 'Ед. измерения на русском:' %}</label>
                                            <input type="text" name="unit_type_ru" required class="form-control"
                                                   id="attr_unit"
                                                   placeholder="">
                                        </div>
                                    </div>
                                    <div class="col-md-4">

                                        <div class="mb-3">
                                            <label for="attr_count" class="form-label">{% trans 'Количество:' %}</label>
                                            <input type="number" required class="form-control"
                                                   onchange="calculateTotal()"
                                                   id="attr_count" name="count"
                                                   placeholder="">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="mb-3">
                                            <label for="attr_11_en"
                                                   class="form-label">{% trans 'Наименование статьи расходов на английском:' %}</label>
                                            <input type="text" required class="form-control" id="attr_11_en"
                                                   name="name_en"
                                                   placeholder="">
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="mb-3">
                                            <label for="attr_unit"
                                                   class="form-label">{% trans 'Ед. измерения на английском:' %}</label>
                                            <input type="text" name="unit_type_en" required class="form-control"
                                                   id="attr_unit"
                                                   placeholder="">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="mb-3">
                                            <label for="attr_prise" class="form-label">{% trans 'Цена:' %}</label>
                                            <input type="number" required onchange="calculateTotal()"
                                                   class="form-control"
                                                   id="attr_prise" name="price"
                                                   placeholder="">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="mb-3">
                                            <label for="attr_summa" class="form-label">{% trans 'Сумма:' %}</label>
                                            <input readonly type="number" required class="form-control" id="attr_summa"
                                                   name="amount"
                                                   placeholder="">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="mb-3">
                                            <label for="attr_extra_text"
                                                   class="form-label">{% trans 'Дополнительный источник на русском:' %}</label>
                                            <input type="text" class="form-control" id="attr_extra_text"
                                                   name="extra_text_ru"
                                                   placeholder="">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="mb-3">
                                            <label for="attr_extra_text"
                                                   class="form-label">{% trans 'Дополнительный источник на английском:' %}</label>
                                            <input type="text" class="form-control" id="attr_extra_text"
                                                   name="extra_text_en"
                                                   placeholder="">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="mb-3">
                                            <label for="attr_extra"
                                                   class="form-label">{% trans 'Сумма дополнительного источника:' %}</label>
                                            <input type="number" class="form-control" id="attr_extra"
                                                   name="extra_amount"
                                                   placeholder="">
                                        </div>
                                    </div>
                                </div>
                                {% csrf_token %}
                                <input type="hidden" name="project_order" value="{{ project_order.id }}">
                                <div class="row">
                                    <div class="col-md-4"></div>
                                    <div class="col-md-4"></div>
                                    <div class="col-md-4">
                                        <button class="btn btn-warning w-100"
                                                type="submit">{% trans 'Добавить элемент' %}</button>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-6 mt-3">
                            <a href="/ru/step/3/?project_order={{ project_order.id }}"
                               class="btn btn-info w-100">{% trans 'Назад' %}
                                <i class="fas fa-backward"></i>
                            </a>
                        </div>
                        <div class="col-6 mt-3">
                            <a href="{% url 'step_six' %}?project_order={{ project_order.id }}"
                               class="btn btn-primary w-100">{% trans 'Сохранить и перейти на следующий этап' %}<i
                                    class="fas fa-forward"></i></a>
                        </div>

                    </div>
                </form>
                <!--form-->
            </div>

        </div>
    </main>


    {% include 'layout/footer.html' with ru_url='/ru/step/4?project_order=' en_url='/en/step/4?project_order=' pk=project_order.id %}

{% endblock %}

{% block extra_js %}
    <script>
        function calculateTotal() {
            let count = document.getElementById('attr_count');
            let price = document.getElementById('attr_prise');
            let total = document.getElementById('attr_summa');
            if (count.value && price.value) {
                total.value = parseFloat(count.value) * parseFloat(price.value)
            }
        }
    </script>
{% endblock extra_js %}