{% extends 'layout/base.html' %}
{% load static i18n %}
{% block content %}


    {% include 'layout/breadcrumbs.html' %}


    <main>
        <div class="container mt-5">
            <div class="row">
                <div class="col-md-12">
                    <div class="card rounded-0 p-4 ">
                        <div class="card-body">
                            <div class="card-text mt-3">

                                {{ event.content|safe }}

                            </div>
                            {% if request.user.user_type == 'user' and not user_sent_project %}
                                <div class="mt-3">
                                    <a href="{% url 'step_one' %}?type_event={{ event.id }}"
                                       class="btn btn-primary w-50 float-end {% if disabled_button %}disabled{% endif %}">
                                        {% trans 'Заполнить форму' %}
                                    </a>
                                </div>
                            {% endif %}
                        </div>


                    </div>
                </div>
            </div>
        </div>

        {#        <div class="container mt-5">#}
        {#            <div class="row">#}
        {#                <div class="col-md-12">#}
        {##}
        {#                    <div class="card rounded-0 p-4 my-navbar-bg">#}
        {#                        <div class="card-body">#}
        {#                            <h3 class="mb-0 text-white">{{ event.type }}</h3>#}
        {#                            <div class="card-text mt-3 text-white">#}
        {##}
        {#                                {{ event.content|safe }}#}
        {##}
        {#                            </div>#}
        {##}
        {#                            <div class="mt-3">#}
        {##}
        {#                                <a class="btn btn-light float-end {% if disabled_button %} disabled {% endif %}"#}
        {#                                   id="send_project_button"#}
        {#                                   href="{% url 'step_one' %}?type_event={{ event.id }}">#}
        {#                                    {% trans 'Отправить проект' %}#}
        {#                                </a>#}
        {#                                <p><strong>Дата начала:</strong> {{ event.start_time }} <strong>Дата#}
        {#                                    окончания:</strong> {{ event.end_time }}   </p>#}
        {#                            </div>#}
        {#                        </div>#}
        {#                    </div>#}
        {##}
        {#                </div>#}
        {#            </div>#}
        {#        </div>#}
    </main>

    {% include 'layout/footer.html' with ru_url='/ru/' en_url='/en/' %}
{% endblock %}
