{% extends 'layout/base.html' %}
{% load static i18n %}
{% block content %}
    {% trans 'Мои формы' as item %}

    {% include 'layout/breadcrumbs.html' with adds=item %}
    <main>
        <div class="container mt-3">

            <div class="row">
                <div class="col-md-12">
                    <h1 class="h3">{% trans 'Мои формы' %}</h1>
                    <hr/>
                </div>
            </div>


            {% for project_order in project_orders %}
                <form method="post">
                    <!--one row-->
                    <div class="row mb-3 border border-1">
                        <div class="col-md-2 bg-primary text-center text-white p-2">
                            {% trans 'Заявка' %} #{{ project_order.id }}
                        </div>
                        <div class="col-md-2 bg-primary text-center text-white p-2">
                            {{ project_order.created|date:'d M Y' }}
                        </div>
                        <div class="col-md-3 text-dark text-center p-2">
                            {% trans 'Тип проекта' %}: <strong>{{ project_order.type.name }}</strong>
                        </div>
                        <div class="col-md-3 text-dark text-center p-2">
                            <strong>{{ project_order.type_category.name }}</strong>
                        </div>
                        <div class="col-md-2 bg-info text-white text-center p-2">
                            {{ project_order.percent }} %
                        </div>
                        <div class="col-md-2 text-white bg-secondary p-2 text-left">{% trans 'Тема на Русском' %}</div>
                        <div class="col-md-10 p-2">{{ project_order.title_ru }}
                        </div>
                        <div class="col-md-2 text-white bg-secondary p-2 text-left">{% trans 'Тема на Английском' %}</div>
                        <div class="col-md-10 p-2">{{ project_order.title_en }}
                        </div>
                        <div class="col-md-12">
                            <hr/>
                        </div>
                        <div class="col-md-1 text-white bg-secondary p-1 text-center">{% trans 'Статус' %}</div>
                        <div class="col-md-1 p-1">
                            {% if project_order.status_level_one == 1 %}
                                <span class="badge bg-success text-center">{% trans 'Отправлен' %}</span>
                            {% elif project_order.status == 1 %}
                                <span class="badge bg-warning text-center">{% trans 'Сохранен' %}</span>
                            {% else %}
                                <span class="badge bg-danger text-center">{% trans 'Не отправлен' %}</span>
                            {% endif %}
                        </div>
                        <div class="col-md-2 p-1">
                            <a href="{% url 'order-detail' project_order.id %}"
                               class="btn btn-primary btn-sm mr-2 w-100"><i class="far fa-eye"></i> {% trans 'просмотр' %} </a>
                        </div>
                        {% if project_order.status_level_one == 0 %}
                            <div class="col-md-2 p-1">
                                <a href="{% url 'step_one' %}?project_order={{ project_order.id }}&type_event={{ project_order.type_event.id }}"
                                   class="btn btn-secondary btn-sm mr-2 w-100"><i class="far fa-edit"></i> {% trans 'изменить' %}
                                </a>
                            </div>
                        {% endif %}
                        {% if project_order.status_level_one == 0 %}
                            <div class="col-md-2 p-1">
                                <button type="submit" class="btn btn-danger btn-sm mr-2 w-100"><i class="fas fa-trash-alt"></i> {% trans 'удалить' %}
                                </button>
                                {% csrf_token %}
                                <input type="hidden" name="action" value="delete">
                                <input type="hidden" name="delete_pk" value="{{ project_order.id }}">
                            </div>

                        {% endif %}

                    </div>
                    <!--one row-->
                </form>
            {% endfor %}

        </div>
        </div>
        </div>
    </main>
    {% include 'layout/footer.html' with ru_url='/ru/orders/my-orders/' en_url='/en/orders/my-orders/' %}


{% endblock %}