{% extends 'layout/base.html' %}
{% load static i18n %}

{% block content %}
    {% trans '2 Этап' as item %}

    {% include 'layout/breadcrumbs.html' with adds=item %}

    <main>
        <div class="container mt-3">
            <div class="row">


                <div class="col-md-12">
                    <h1 class="h3 text-дуае">
                        {% trans 'ЭТАП №2: / События:  начало:' %} <strong>{{ type_event.start_time }}</strong>   / {% trans 'конец:' %} <strong>{{ type_event.end_time }}</strong>
                    </h1>
                    <hr/>
                </div>

                <div class="col-md-12">

                    <table class="table table-bordered">
                        <thead class="table-dark text-center">
                        <tr>
                            <th scope="col" class="text-center">#</th>
                            <th scope="col">{% trans 'Дата' %}</th>
                            <th scope="col">{% trans 'Тип &' %}<br/> {% trans 'cумма' %}</th>
                            <th scope="col">{% trans 'Тема' %} <br/>{% trans 'на русском' %}</th>
                            <th scope="col">{% trans 'Тема' %} <br/>{% trans 'на английском' %}</th>
                            <th scope="col">{% trans 'Статус' %}</th>
                            <th scope="col">{% trans 'Этап' %} <br/>№1</th>
                            <th scope="col">{% trans 'Этап' %} <br/>№2</th>
                            <th scope="col">{% trans 'Оценка' %} <br/></th>
                            <th scope="col" width="110"></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for p_order in object_list %}
                            <tr>
                                <th>{{ forloop.counter }}</th>
                                <th>{{ p_order.created|date:"d.m.Y" }}</th>
                                <td>{{ p_order.type.name }} <br> {{ p_order.type_category.name }}</td>
                                <td>{{ p_order.title_ru }}</td>
                                <td>{{ p_order.title_en }}</td>
                                <td><span class="badge bg-success">{% trans 'Отправлен' %}</span></td>
                                <td><span class="badge bg-success">{% trans 'Пройден' %}</span></td>
                                <td><span class="badge bg-success">{% trans 'Пройден' %}</span></td>
                                <td>{% if p_order.user_score %}<span class="badge bg-success">{% trans 'Оценен' %}</span> {% else %} <span class="badge bg-danger">{% trans 'Не оценен' %}</span> {% endif %}</td>
                                <td>
                                    <a href="{% url 'order-detail' p_order.id %}" class="btn btn-info w-100 btn-sm text-white"><i class="fas fa-eye"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </main>
    {% include 'layout/footer.html' with ru_url='/ru/orders/level/two/' en_url='/en/orders/level/two/' pk=type_event.id %}
{% endblock content %}