{% extends 'layout/base.html' %}
{% load static i18n %}

{% block content %}

    {% trans 'Результаты' as item %}

    {% include 'layout/breadcrumbs.html' with adds=item %}


    <main>
        <div class="container mt-3">

            <div class="row">
                <div class="col-md-12">
                    <h1 class="h3 text-дуае">
                        {% trans 'Результаты событий' %}: {% trans 'начало' %}: <strong>{{ type_event.start_time }}</strong>   / {% trans 'конец' %}: <strong>{{ type_event.end_time }}</strong>
                    </h1>
                    <hr/>
                </div>
                <div class="col-md-12">
                    <form class="row" method="get">
                        <div class="col-md-4">
                            <label for="" class="form-label">{% trans 'Тип проекта' %}</label>
                            <select class="form-select mb-3" name="event_type" aria-label=".form-select-sm example">
                                <option value="all"></option>
                                {% for type in types %}
                                    <option {% if type.id|stringformat:"s" == event_type|stringformat:"s" %} selected {% endif %} value="{{ type.id }}">{{ type.name }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="col-md-4">
                            <label for="" class="form-label">{% trans 'Сумма' %}</label>
                            <select class="form-select mb-3" name="event_type_category" aria-label=".form-select-sm example">
                                <option value="all"></option>
                                {% for cat in type_categories %}
                                    <option {% if cat.id|stringformat:"s" == event_type_category|stringformat:"s" %} selected {% endif %} value="{{ cat.id }}">{{ cat.name }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="col-md-4">
                            <button type="submit" class="btn btn-primary w-100 mt-4">{% trans 'Сортировать' %}</button>
                        </div>


                    </form>
                </div>
            </div>

            <!--events row-->
            <table class="table table-bordered">
                <thead class="table-dark text-center">
                <tr>
                    <th scope="col" class="text-center">#</th>
                    <th scope="col">{% trans 'Тип' %}</th>
                    <th scope="col">{% trans 'Сумма' %}</th>
                    <th scope="col">{% trans 'Тема' %} <br/>{% trans 'на русском' %}</th>
                    <th scope="col">{% trans 'Тема' %} <br/>{% trans 'на английском' %}</th>
                    <th scope="col">{% trans 'Итоговый балл' %}</th>
                    <th scope="col" width="150"></th>
                </tr>
                </thead>
                <tbody>
                {% for event in object_list %}
                    <tr>
                        <th scope="row" class="text-center">{{ forloop.counter }}</th>
                        <td>{{ event.type.name }}</td>
                        <td>{{ event.type_category.name }}</td>
                        <td>{{ event.title_ru }}</td>
                        <td>{{ event.title_en }}</td>
                        <td>{{ event.c|default:0 }}</td>
                        <td>
                            <a href="{% url 'order-detail' event.id %}" class="btn btn-info w-100 btn-sm text-white"><i class="fas fa-eye"></i> </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <!--events row-->



        </div>
    </main>
       {% include 'layout/footer.html' with ru_url='/ru/orders/events/result/view/' en_url='/en/orders/events/result/view/' pk=type_event.id %}

{% endblock content %}