{% extends 'layout/base.html' %}
{% load static i18n %}
{% block content %}
    {% trans 'Список 1 этап' as item %}

    {% include 'layout/breadcrumbs.html' with adds=item %}

    <main>
        <div class="container mt-3">

            <div class="row">
                <div class="col-md-12">
                    <h1 class="h3 text-дуае">
                        {% trans 'Шаг 1' %}
                    </h1>
                    <hr/>
                </div>
            </div>

            <!--events row-->
            <table class="table table-bordered">
                <thead class="table-dark text-center">
                <tr>
                    <th scope="col" class="text-center">#</th>
                    <th scope="col">{% trans 'Дата начало' %}</th>
                    <th scope="col">{% trans 'Дата конец' %}</th>
                    <th scope="col">{% trans 'Количество заявок' %}</th>
                    <th scope="col" width="150"></th>
                </tr>
                </thead>
                <tbody>
                {% for event in object_list %}
                    <tr>
                        <th scope="row" class="text-center">{{ forloop.counter }}</th>
                        <td>{{ event.start_time }}</td>
                        <td>{{ event.end_time }}</td>
                        <td>{{ event.c|default:0 }}</td>
                        <td>
                            <a href="{% url 'order-level-one' event.id %}" class="btn btn-info w-100 btn-sm text-white"><i class="fas fa-eye"></i> {% trans 'Результаты' %} </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <!--events row-->



        </div>
    </main>
    {% include 'layout/footer.html' with ru_url='/ru/orders/level/one/list/' en_url='/en/orders/level/one/list/' %}

{% endblock content %}