{% extends 'layout/base.html' %}
{% load static i18n %}
{% block content %}
    {% trans 'Заявки' as item %}

    {% include 'layout/breadcrumbs.html' with adds=item %}
    <main>
        <div class="container mt-3">
            <div class="row">
                <div class="col-md-12">

                    <h1 class="h3">{% trans 'Заявки: новые' %} </h1>
                    <hr/>

                    <table class="table table-bordered">
                        <thead class="table-dark">
                        <tr>
                            <th scope="col" class="text-center">#</th>
                            <th scope="col">{% trans 'Имя' %}</th>
                            <th scope="col">{% trans 'Фамилия' %}</th>
                            <th scope="col">{% trans 'Отчество' %}</th>
                            <th scope="col">{% trans 'E-mail' %}</th>
                            <th scope="col" width="100"></th>
                            <th scope="col" width="150"></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for project in projects %}

                            <tr>
                                <th scope="row" class="text-center">{{ project.id }}</th>
                                <td>{{ project.user.first_name }}</td>
                                <td>{{ project.user.last_name }}</td>
                                <td>{{ project.user.middle_name }}</td>
                                <td>{{ project.user.username }}</td>
                                <td>
                                    <a href="#" class="btn btn-success btn-sm w-100"><i class="far fa-plus-square"></i></a>
                                </td>
                                <td class="float-end">
                                    <a href="#" class="btn btn-secondary btn-sm mr-2"><i class="far fa-edit"></i></a>
                                    <a href="{% url 'order-detail' project.id %}" class="btn btn-primary btn-sm mr-2"><i class="far fa-eye"></i></a>
                                    <a href="#" class="btn btn-danger btn-sm mr-2"><i class="fas fa-trash-alt"></i></a>
                                </td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </main>
    {% include 'layout/footer.html' with ru_url='#' en_url='#' %}

{% endblock %}