{% extends 'layout/base.html' %}
{% load static i18n %}

{% block content %}
    {% trans '1 Этап' as item %}

    {% include 'layout/breadcrumbs.html' with adds=item %}

    <main>
        <div class="container mt-3">
            <div class="row">


                <div class="col-md-8">
                    <h1 class="h3 text-left">
                        {% if start_time and end_time %}
                            {% trans 'ЭТАП №1: / События:  начало:' %} <strong>{{ start_time }}</strong>
                            / {% trans 'конец:' %} <strong>{{ end_time }}</strong>
                        {% else %}
                            {% trans 'ЭТАП №1: / События:  начало:' %} <strong>{{ type_event.start_time }}</strong>
                            / {% trans 'конец:' %} <strong>{{ type_event.end_time }}</strong>
                        {% endif %}
                    </h1>
                    <hr/>
                </div>
                <div class="col-md-4">
                    <form>
                        <div class="row">
                            <div class="col-md-6">
                                <input type="datetime-local" class="form-control" name="start_time">
                            </div>
                            <div class="col-md-6">
                                <input type="datetime-local" class="form-control" name="end_time"
                                       onchange="this.form.submit()">
                            </div>
                        </div>
                    </form>
                </div>


                <div class="col-md-12">

                    <table class="table table-bordered">
                        <thead class="table-dark text-center">
                        <tr>
                            <th scope="col" class="text-center">#</th>
                            <th scope="col">{% trans 'Дата' %}</th>
                            <th scope="col">{% trans 'Тип &' %}<br/> {% trans 'cумма' %}</th>
                            <th scope="col">{% trans 'Тема' %} <br/>{% trans 'на русском' %}</th>
                            <th scope="col">{% trans 'Тема' %} <br/>{% trans 'на английском' %}</th>
                            <th scope="col">{% trans 'Статус' %}</th>
                            <th scope="col">{% trans 'Этап' %} <br/>№1</th>
                            <th scope="col">{% trans 'Этап' %} <br/>№2</th>
                            <th scope="col" width="110"></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for p_order in object_list %}
                            <tr>
                                <th>{{ forloop.counter }}</th>
                                <th>{{ p_order.created }}</th>
                                <td>{{ p_order.type.name }} <br> {{ p_order.type_category.name }}</td>
                                <td>{{ p_order.title_ru }}</td>
                                <td>{{ p_order.title_en }}</td>
                                <td><span
                                        class="badge bg-success">{% trans 'Отправлен' %} {{ p_order.sent_first_step_date }}</span>
                                </td>
                                <td><span
                                        class="badge bg-success">{% trans 'Пройден' %} {{ p_order.sent_second_step_date }}</span>
                                </td>
                                <td></td>
                                <td>
                                    <a href="{% url 'order-detail' p_order.id %}"
                                       class="btn btn-info w-100 btn-sm text-white"><i class="fas fa-eye"></i></a>
                                    <button type="button" data-bs-toggle="modal" data-bs-target="#orderUser_{{ p_order.user.id }}"
                                            class="btn btn-primary my-2">{% translate 'Заявитель' %}</button>

                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </main>
    {% for p_order in object_list %}
        <!-- Modal -->
        <div class="modal fade" id="orderUser_{{ p_order.user.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header p-0">
                        {% if p_order.user.photo %}
                            <img src="{{ p_order.user.photo.url }}" class="card-img-top" alt="">
                        {% endif %}
                    </div>
                    <div class="modal-body">
                        <table class="table table-bordered table-striped">
                            <tbody>
                            <tr>
                                <th>Ф.И.О.</th>
                                <td>{{ p_order.user.first_name|default:'-' }} {{ p_order.user.last_name|default:'-' }}</td>
                            </tr>
                            <tr>
                                <th>День рождения</th>
                                <td>{{ p_order.user.birthday|date:'d.m.Y' }}</td>
                            </tr>
                            <tr>
                                <th>Место работы</th>
                                <td>{{ p_order.user.work_place_ru|default:'-' }}</td>
                            </tr>
                            <tr>
                                <th>Почтовый индекс</th>
                                <td>{{ p_order.user.address_zip|default:'-' }}</td>
                            </tr>
                            <tr>
                                <th>Страна</th>
                                <td>{{ p_order.user.address_country|default:'-' }}</td>
                            </tr>
                            <tr>
                                <th>Название области и города</th>
                                <td>{{ p_order.user.address_region|default:'-' }}</td>
                            </tr>
                            <tr>
                                <th>Улица, номер дома / квартиры</th>
                                <td>{{ p_order.user.address_street|default:'-' }}</td>
                            </tr>
                            <tr>
                                <th>Домашний рабочий</th>
                                <td>{{ p_order.user.home_phone_number|default:'-' }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}


    {% include 'layout/footer.html' with ru_url='/ru/orders/level/one/' en_url='/en/orders/level/one/' pk=type_event.id %}
{% endblock content %}