{% extends 'layout/base.html' %}
{% load i18n static %}
{% block content %}
    <section class="bg-light py-3">
        <nav aria-label="breadcrumb" class="container">
            <ol class="breadcrumb m-0">
                <li class="breadcrumb-item"><a href="/">Главная</a></li>
                <li class="breadcrumb-item active" aria-current="page"><a href="{{ request.path }}">Заявка
                    №{{ project.id }}</a></li>
            </ol>
        </nav>
    </section>


    <main>
        <div class="container mt-3 mb-5">
            <div class="row">
                <div class="col-md-12">

                    <div class="btn-group float-end" role="group" aria-label="Button group with nested dropdown">
                        <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal"
                                data-bs-target="#staticBackdrop">{% trans 'Оценка' %}
                        </button>

                        <a type="button"
                           href="{% url 'step_one' %}?project_order={{ project.id }}?type_event={{ project.type_event.id }}"
                           class="btn btn-warning btn-sm">{% trans 'Редактировать' %}</a>
                         <a type="button"
                           href=""
                           class="btn btn-success btn-sm">{% trans 'Отправить на рассмотрение' %}</a>


                        <div class="btn-group" role="group">
                            <button id="btnGroupDrop1" type="button" class="btn btn-sm btn-primary dropdown-toggle"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                {% trans 'Действие' %}
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                <li>

                                    <a class="dropdown-item"
                                       href="{% url 'step_one' %}?project_order={{ project.id }}&type_event={{ project.type_event.id }}"
                                    >{% trans 'Редактировать' %}</a>
                                </li>
                                <!-- Modal -->


                                {#                                <li>#}
                                {#                                   <button type="button" class="btn btn-primary dropdown-item" >{% trans 'Удалить' %}</button>#}
                                {##}
                                {#                                    #}
                                {#                                </li>#}
                            </ul>
                        </div>
                        <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal"
                                data-bs-target="#staticBackdrop1">{% trans 'Удалить' %}
                        </button>
                        <div class="modal fade" id="staticBackdrop1" data-bs-backdrop="static" data-bs-keyboard="false"
                             tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg modal-dialog-scrollable">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title"
                                            id="staticBackdropLabel">{% trans 'Вы уверены что хотите удалить эту публикацию ?' %}</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body text-center">
                                        <form action="{% url 'order-detail' project.id %}" method="post">
                                            {% csrf_token %}
                                            <p>
                                                <strong>{% trans 'Если сейчас вы нажмете да то ваша публикация исчезнет навсегда !' %}</strong>
                                            </p>

                                            <button type="submit"
                                                    class="btn btn-danger mt-3 pl-4 pr-4">{% trans 'Да' %}
                                            </button>
                                            <input type="hidden" name="to_delete" value="yes">

                                            <button type="button" class="btn btn-primary mt-3 pl-4 pr-4"
                                                    data-bs-dismiss="modal">{% trans 'Нет' %}</button>
                                        </form>
                                    </div>

                                    <div class="modal-footer">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- Modal -->
                    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
                         tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg modal-dialog-scrollable">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    ...ывыв
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть
                                    </button>
                                    <button type="button" class="btn btn-primary">Understood</button>
                                </div>
                            </div>
                        </div>
                    </div>


                    <h1 class="h3">№{{ project.id }} / {% trans 'ПУБЛИКАЦИЯ' %}</h1>
                    <hr/>

                    <table class="table table-sm table-bordered">
                        <tr>
                            <td class="table-secondary">{% trans 'Форма проекта:' %}</td>
                            <td>{{ project.type }}</td>

                            <td class="table-secondary">{% trans 'Сфера проекта:' %}</td>
                            <td>{{ project.project_sphere }}</td>

                            <td class="table-secondary">{% trans 'Заявка' %}</td>
                            <td>{{ project.title }}</td>

                        </tr>

                        <tr>
                            <td class="table-secondary">{% trans 'Дата создания:' %}</td>
                            <td>{{ graphic_one.start_time }}</td>

                            <td class="table-secondary">{% trans 'Статус' %}</td>
                            <td>{{ project.get_status_display }}</td>

                            <td></td>
                            <td></td>
                        </tr>

                    </table>

                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home"
                                    type="button" role="tab" aria-controls="home" aria-selected="true">Русский
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile"
                                    type="button" role="tab" aria-controls="profile" aria-selected="false">English
                            </button>
                        </li>
                    </ul>
                    <div class="tab-content pt-3" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <!--in russian-->


                            <h2 class="h4 text-center">Форма 1. Данные о проекте</h2>

                            <p>
                                {{ graphic_one.content_ru|safe }}
                            <h2 class="h4 text-center">Форма 2. Данные о руководителе и основных исполнителях
                                проекта</h2>

                            {% for graphic in graphic_two %}
                                <hr>
                                {{ graphic.middle_name }} {{ graphic.first_name }}
                                {{ graphic.last_name }}<br>
                                {{ graphic.scientist_level.name_ru }} {{ graphic.birthday }} .г
                                {{ graphic.scientist_rank.name_ru }}
                                <br>
                                Общее число публикаций: {{ graphic.public_count }}<br>
                                Почтовый адрес: {{ graphic.address_zip }} г.
                                {{ graphic.address_country }} {{ graphic.address_street }}
                                <br>
                                Телефон рабочий: {{ graphic.work_phone_number }} и домашний
                                {{ graphic.home_phone_number }}
                                <br>
                                Адресс электронной почты: {{ graphic.email }}

                                <hr>
                            {% endfor %}




                            <h2 class="h4 text-center">Форма 3. График выполнения проекта</h2>

                            {{ graphic_three.main_steps }}

                            <table class="table table-bordered">
                                <tr class="table-light">
                                    <td>Сроки реализации</td>
                                    <td>Выполняемая работа</td>
                                    <td>Контрольные результаты</td>
                                </tr>
                                {% for result in three_result %}
                                    <tr>
                                        <td>{{ result.attr_one_ru }}</td>

                                        <td>{{ result.attr_two_ru }}</td>

                                        <td>{{ result.attr_three_ru }}</td>
                                        <
                                        {#                                    <td><a href="#" class="btn btn-info btn-sm"><i class="fas fa-edit"></i></a></td>#}
                                        {#                                    <td><a href="#" class="btn btn-danger btn-sm"><i class="fas fa-trash"></i></a></td>#}
                                    </tr>
                                {% endfor %}
                            </table>


                            <h2 class="h4 text-center">Форма 4. Смета расходов</h2>

                            <table class="table table-bordered">
                                <tr class="table-light">
                                    <td>#</td>
                                    <td>Наименование статьи расходов </td>
                                    <td>Количество</td>
                                    <td>Ед. измерения</td>
                                    <td>Цена</td>
                                    <td>Сумма</td>
                                    <td>Дополнительные источники</td>
                                </tr>
                                {% for graphic in graphic_four %}
                                    <tr class="text-center">
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ graphic.name_ru }}</td>
                                        <td>{{ graphic.count }}</td>
                                        <td>{{ graphic.unit_type }}</td>
                                        <td>{{ graphic.price }}</td>
                                        <td>{{ graphic.amount }}</td>
                                        <td>{{ graphic.extra_amount }}</td>
                                        {#                                    <td><a href="#" class="btn btn-info btn-sm"><i class="fas fa-edit"></i></a></td>#}
                                        {#                                    <td><a href="#" class="btn btn-danger btn-sm"><i class="fas fa-trash"></i></a></td>#}
                                    </tr>
                                {% endfor %}
                                <tr class="table-dark">
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>{{ graphic_four_sum }}</td>
                                    <td></td>
{#                                    <td></td>#}
                                </tr>
                            </table>


                            <!--in russian-->
                        </div>
                        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">


                            <h2 class="h4 text-center">Form 1. Project data</h2>


                            {{ graphic_one.content_en|safe }}
                            <h2 class="h4 text-center">Form 2. Information about the head and main executors
                                the project</h2>

                            {% for graphic in graphic_two %}
                                <hr>
                                {{ graphic.middle_name }} {{ graphic.first_name }}
                                {{ graphic.last_name }}<br>
                                {{ graphic.scientist_level.name_en }} {{ graphic.birthday }} .г
                                {{ graphic.scientist_rank.name_en }}
                                <br>
                                Total number of publications:: {{ graphic.public_count }}<br>
                                Home mailing address: {{ graphic.address_zip }} г.
                                {{ graphic.address_country }} {{ graphic.address_street }}
                                <br>
                                Work phone: {{ graphic.work_phone_number }} and home
                                {{ graphic.home_phone_number }}
                                <br>
                                E-mail address: {{ graphic.email }}

                                <hr>
                            {% endfor %}




                            <h2 class="h4 text-center">Form 3. Schedule of the project</h2>

                            {{ graphic_three.main_steps }}

                            <table class="table table-bordered">
                                <tr class="table-light">
                                    <td>Terms of implementation</td>
                                    <td>Work performed</td>
                                    <td>Control results</td>
                                </tr>
                                {% for graphic in three_result %}
                                    <tr>
                                        <td>{{ graphic.attr_one_ru }}</td>

                                        <td>{{ graphic.attr_two_ru }}</td>

                                        <td>{{ graphic.attr_three_ru }}</td>
                                        <
                                        {#                                    <td><a href="#" class="btn btn-info btn-sm"><i class="fas fa-edit"></i></a></td>#}
                                        {#                                    <td><a href="#" class="btn btn-danger btn-sm"><i class="fas fa-trash"></i></a></td>#}
                                    </tr>
                                {% endfor %}
                            </table>


                            <h2 class="h4 text-center">Form 4. Cost estimate</h2>

                            <table class="table table-bordered">
                                <tr class="table-light">
                                    <td>#</td>
                                    <td>Expense item name</td>
                                    <td>Count</td>
                                    <td>Unit of measurement</td>
                                    <td>Price</td>
                                    <td>Amount</td>
                                    <td>Additional sources</td>
                                </tr>
                                {% for graphic in graphic_four %}
                                    <tr class="text-center">
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ graphic.name_en }}</td>
                                        <td>{{ graphic.count }}</td>
                                        <td>{{ graphic.unit_type }}</td>
                                        <td>{{ graphic.price }}</td>
                                        <td>{{ graphic.amount }}</td>
                                        <td>{{ graphic.extra_amount }}</td>
                                        {#                                    <td><a href="#" class="btn btn-info btn-sm"><i class="fas fa-edit"></i></a></td>#}
                                        {#                                    <td><a href="#" class="btn btn-danger btn-sm"><i class="fas fa-trash"></i></a></td>#}
                                    </tr>
                                {% endfor %}
                                <tr class="table-dark">
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>{{ graphic_four_sum }}</td>
                                    <td></td>
                                </tr>
                            </table>


                        </div>
                    </div>


                </div>
            </div>
        </div>
    </main>
    <footer class="bg-dark pt-4 pb-3">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <p class="text-start text-white">2021 &copy Copyright. www.unesco-iicas.org </p>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline text-white">
                        <li class="list-inline-item">{% trans 'Языки' %}:</li>
                        <li class="list-inline-item"><a href="/en/orders/{{ project.id }}"><img width="20"
                                                                                                src="{% static '/img/en.png' %}"/></a>
                        </li>
                        <li class="list-inline-item"><a href="/ru/orders/{{ project.id }}"><img width="20"
                                                                                                src="{% static '/img/ru.png' %}"/></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <p class="text-end text-white">Powered by <a target="_blank" href="http://diamondsolutions.uz/">Diamond
                        Solutions</a></p>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}
