{% extends 'layout/base.html' %}
{% load i18n static %}

{% block content %}
    {% include 'layout/breadcrumbs.html' with adds=page.title %}


    <main>
        <div class="container mt-5">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="h5 text-center">
                        {{ page.title }}
                    </h1>
                    <br/>
                    {{ page.content|safe }}<br>
                </div>
            </div>
        </div>
    </main>


    {% include 'layout/footer.html' with ru_url='/ru/page/' en_url='/en/page/' pk=page.id %}

{% endblock %}