{% extends 'layout/base.html' %}
{% load static widget_tweaks i18n %}
{% block content %}
    <main>
        <div class="container mt-2">
            <div class="row">
                <div class="col-md-12"><h1 class="text-center">{% trans 'Изменение сметы расходов' %}</h1></div>
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="card card-body ">
                        <div class="row">
                            {% for f in form %}

                                <div class="col-md-4">
                                    {{ f.label_tag }}
                                    {{ f|add_class:'form-control' }}
                                </div>
                            {% endfor %}
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-primary mt-2">{% trans 'Сохранить' %}</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </main>
{% endblock %}
