{% extends 'layout/base.html' %}
{% load static widget_tweaks i18n %}
{% block content %}
    <main>
        <div class="container mt-2">
            <div class="row">
                <form method="POST">
                    {% csrf_token %}
                    <div class="card card-body">

                        <h2 class="h6 text-center fw-bold">{% trans 'Информация об исполнителе' %}</h2>
                        <div class="row border p-3 m-3">
                            <div class="col-md-4">
                                <label for="lastName" class="form-label">{% trans 'Фамилия' %}</label>
                                {{ form.last_name|add_class:'form-control'|attr:'id:lastName' }}
                            </div>
                            <div class="col-md-4">
                                <label for="firstName" class="form-label">{% trans 'Имя' %}</label>
                                {{ form.first_name|add_class:'form-control'|attr:'id:firstName' }}
                            </div>
                            <div class="col-md-4">
                                <label for="midName" class="form-label">{% trans 'Отчество' %} </label>
                                {{ form.middle_name|add_class:'form-control'|attr:'id:midName'|attr:'placeholder:Необязательное поле' }}
                            </div>
{#                            <div class="col-md-3">#}
{#                                <label for="birthDay" class="form-label">Дата рождения </label>#}
{#                                {{ form.birthday|add_class:'form-control'|attr:'id:birthDay'|attr:'type:date'}}#}
{#                            </div>#}

{#                            <div class="col-md-4">#}
{#                                <label for="levelPut" class="form-label">Ученая степень </label>#}
{#                                {{ form.scientist_level|add_class:'form-select'|attr:'id:levelPut' }}#}
{#                            </div>#}
{#                            <div class="col-md-2">#}
{#                                <label for="levelPutYear" class="form-label">Год присуждения </label>#}
{#                                {{ form.scientist_level_year|add_class:'form-select'|attr:'id:levelPutYear' }}#}
{#                            </div>#}
{#                            <div class="col-md-4">#}
{#                                <label for="rankPut" class="form-label">Ученая звание </label>#}
{#                                {{ form.scientist_rank|add_class:'form-select'|attr:'id:rankPut' }}#}
{#                            </div>#}
{#                            <div class="col-md-2">#}
{#                                <label for="rankPutYear" class="form-label">Год присуждения </label>#}
{#                                {{ form.scientist_rank_year|add_class:'form-control'|attr:'id:rankPutYear' }}#}
{#                            </div>#}

                        </div>


                        <h2 class="h6 text-center fw-bold">{% trans 'Места работы' %}</h2>
                        <div class="row border p-3 m-3">
                            <div class="col-md-6">
                                <label for="workPlaceRu" class="form-label">{% trans 'Полное название на Русском' %} </label>
                                {{ form.work_place_ru|add_class:'form-control'|attr:'id:workPlaceRu'|attr:"required"|attr:'style: height:5px;' }}
                            </div>
{#                            <div class="col-md-4">#}
{#                                <label for="workPlaceShortRu" class="form-label">Сокращенное название на#}
{#                                    Русском </label>#}
{#                                {{ form.work_place_short_ru|add_class:'form-control'|attr:'id:workPlaceShortRu'|attr:"required" }}#}
{#                            </div>#}
{#                            <div class="col-md-12">#}
{#                                <label for="workPositionRu" class="form-label">Должность на Русском </label>#}
{#                                {{ form.work_position_ru|add_class:'form-control'|attr:'id:workPositionRu'|attr:"required" }}#}
{#                            </div>#}
                            <div class="col-md-6">
                                <label for="workPlaceEn" class="form-label">{% trans 'Полное название на английском:' %} </label>
                                {{ form.work_place_en|add_class:'form-control'|attr:'id:workPlaceEn'|attr:"required"|attr:'style: height:5px;' }}
                            </div>
{#                            <div class="col-md-4">#}
{#                                <label for="workPlaceShortEn" class="form-label">Сокращенное название на#}
{#                                    Английском </label>#}
{#                                {{ form.work_place_short_en|add_class:'form-control'|attr:'id:workPlaceShortEn'|attr:"required" }}#}
{#                            </div>#}
                            <input type="hidden" value="{{ project_order_id }}" name="project_order">
{#                            <div class="col-md-12">#}
{#                                <label for="workPositionEn" class="form-label">Должность на#}
{#                                    Английском </label>#}
{#                                {{ form.work_position_en|add_class:'form-control'|attr:'id:workPositionEn'|attr:"required" }}#}
{#                            </div>#}
                        </div>

{#                        <h2 class="h6 text-center fw-bold">Публикации</h2>#}
{#                        <div class="row border p-3 m-3">#}
{#                            <div class="col-md-12">#}
{#                                <label for="publicationCount" class="form-label">Общее число публикаций#}
{#                                    (включая тезисы докладов).</label>#}
{#                                {{ form.public_count|add_class:'form-control'|attr:'id:publicationCount' }}#}
{#                            </div>#}
{#                        </div>#}

                        <h2 class="h6 text-center fw-bold">{% trans 'Адрес' %}</h2>
                        <div class="row border p-3 m-3">
                            <div class="col-md-3">
                                <label for="zip" class="form-label">{% trans 'Почтовый индекс' %}</label>
                                {{ form.address_zip|add_class:'form-control'|attr:'id:zip' }}
                            </div>
                            <div class="col-md-3">
                                <label for="country" class="form-label">{% trans 'Страна' %}</label>
                                {{ form.address_country|add_class:'form-control'|attr:'id:country' }}
                            </div>
                            <div class="col-md-6">
                                <label for="region" class="form-label">{% trans 'Название области и города' %}</label>
                                {{ form.address_region|add_class:'form-control'|attr:'id:region' }}
                            </div>
                            <div class="col-md-12">
                                <label for="address" class="form-label">{% trans 'Улица, номер дома / квартиры' %}</label>
                                {{ form.address_street|add_class:'form-control'|attr:'id:address' }}
                            </div>
                            <div class="col-md-4">
                                <label for="workPhone" class="form-label">{% trans 'Телефон рабочий' %} </label>
                                {{ form.work_phone_number|add_class:'form-control'|attr:'id:workPhone' }}
                            </div>
                            <div class="col-md-4">
                                <label for="homehone" class="form-label">{% trans 'Домашний рабочий' %} </label>
                                {{ form.home_phone_number|add_class:'form-control'|attr:'id:homehone' }}
                            </div>
                            <div class="col-md-4">
                                <label for="emailAdress" class="form-label">{% trans 'E-mail' %} </label>
                                {{ form.email|add_class:'form-control'|attr:'id:emailAdress' }}
                            </div>
                            <div class="col-md-12 float-right">
                                <button class="btn btn-primary mt-4 " type="submit">{% trans 'Сохранить' %}</button>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </main>
{% endblock %}
