{% extends 'layout/base.html' %}
{% load static widget_tweaks i18n %}
{% block content %}
    <main>
        <div class="container mt-2">
            <div class="row">
                <div class="col-md-12"><h1 class="text-center">{% trans 'Изменение результата этапов' %}</h1></div>
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="card card-body ">
                        <div class="row">
                            {% for f in form %}
                                {% if f.name == 'main_step_ru' or f.name == 'main_step_en' %}
                                    <div class="col-md-12 my-3">
                                        {{ f.label_tag }}
                                        {{ f|add_class:'form-control'|attr:'rows:3' }}
                                    </div>
                                {% else %}
                                    <div class="col-md-4 my-3">
                                        {{ f.label_tag }}
                                        {{ f|add_class:'form-control' }}
                                    </div>
                                {% endif %}
                            {% endfor %}
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-primary mt-2">{% trans 'Сохранить' %}</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </main>
{% endblock %}
