{% extends 'layout/base.html' %}
{% load static i18n %}
{% block content %}
    {% include 'layout/breadcrumbs.html' with adds='Итоговые Оценки пользователей' %}


    <main>
        <div class="container mt-3">

            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-5">
                            <h1 class="h3 text-left">
                                Итоговая оценки пользователей
                            </h1>
                        </div>
                        <div class="col-md-1"></div>
                        <div class="col-md-3">
                            <form method="get">
                                <div class="row">
                                    <div class="col-md-12">
                                        <select name="category" class="form-control" onchange="this.form.submit()">
                                            {% if object_list.selected_category %}
                                                <option value="{{ object_list.selected_category.id }}"
                                                        selected>{{ object_list.selected_category.name }}</option>
                                            {% endif %}
                                            <option value="">{% translate 'Все категории' %}</option>
                                            {% for category in object_list.categories %}
                                                <option value="{{ category.id }}">{{ category.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-1"></div>
                        <div class="col-md-2">
                            <button class="btn btn-success float-end offset-1" type="button"
                                    onclick="printTableEnglish('russian')">
                                Распечатать
                            </button>
                        </div>
                        <hr/>
                    </div>
                </div>
            </div>

            {% if object_list.selected_category %}
                <h4>{% translate 'Категория:' %} {{ object_list.selected_category.name }}</h4>
            {% else %}
                <h4>{% translate 'Все категории:' %}</h4>
            {% endif %}

            <div id="russian">

                <!--events row-->
                <table class="table table-bordered" role="tabpanel">
                    <thead class="table-dark text-center">
                    <tr>
                        <th scope="col" class="text-center">#</th>
                        <th scope="col">ФИО заявителя</th>
                        <th scope="col">Название проекта</th>
                        <th scope="col">Итоговый балл</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for mark in object_list.query %}
                        <tr>
                            <th scope="row" class="text-center">{{ forloop.counter }}</th>
                            <td>{{ mark.user__first_name }} {{ mark.user__last_name }}</td>
                            <td>{{ mark.title }}</td>
                            <td>{{ mark.total_marks|default:0 }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <!--events row-->
            </div>
        </div>
    </main>
    {% include 'layout/footer.html' with ru_url='/ru/user/marks/' en_url='/en/user/marks/' %}

{% endblock content %}
{% block extra_js %}
    <script>
        function printTableEnglish(tag_id) {
            template = document.getElementById(tag_id).innerHTML;
            document.body.innerHTML = template;
            window.print();
            window.location.reload();
        }
    </script>
{% endblock %}