{% extends 'layout/base.html' %}
{% load static i18n widget_tweaks %}

{% block content %}
    {% trans 'Изменить профиль' as item %}

    {% include 'layout/breadcrumbs.html' with adds=item %}

    <main>
        <div class="container mt-2">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="h4 text-left">
                        {% trans 'Редактировать данные' %}
                    </h1>
                </div>
                <div class="row">


                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <h1 class="h3 mb-3 text-center">{% trans 'Изменить профиль' %}</h1>
                        <div class="col-md-12 text-center">

                            {% trans 'Языки' %}
                            <a href="/ru/accounts/update/{{ request.user.id }}"><img width="20"
                                                                                     src="{% static 'img/ru.png' %}"/></a>
                            <a href="/en/accounts/update/{{ request.user.id }}"><img width="20"
                                                                                     src="{% static 'img/en.png' %}"/></a>

                        </div>
                        <br>

                        <h2 class="h6 text-center fw-bold">{% trans 'Данные для входа' %}</h2>
                        <div class="row border p-3 m-3">
                            <div class="col-md-12">
                                <label for="Photo" class="form-label">{% trans 'Фото' %}</label>
                                {{ form.photo|add_class:'form-control'|attr:'id:Photo'|default:'' }}
                            </div>
                            <div class="col-md-6">
                                <label for="emailInput" class="form-label">{% trans 'E-mail' %}</label>
                                {{ form.username|add_class:'form-control'|attr:'id:emailInput'|attr:'type:email'|attr:'onchange:doubleInput()'|attr:'readonly' }}
                                {#									  <input type="email" class="form-control" id="emailInput">#}
                            </div>

                            <div class="col-md-6">
                                <label for="langInput" class="form-label">{% trans 'Главный язык' %}</label>
                                {#										<select class="form-select" aria-label="Select language">#}
                                {#										  <option value="ru">Англисский</option>#}
                                {#										  <option value="en">Русский</option>#}
                                {#										</select>#}
                                {{ form.lang|add_class:'form-select'|attr:'id:langInput' }}
                            </div>
                        </div>

                        <h2 class="h6 text-center fw-bold">{% trans 'Информация о пользователе' %}</h2>
                        <div class="row border p-3 m-3">
                            <div class="col-md-3">
                                <label for="lastName" class="form-label">{% trans 'Фамилия' %}</label>
                                {{ form.last_name|add_class:'form-control'|attr:'id:lastName'|attr:'type:text' }}
                                {#									<input type="text" class="form-control" id="lastName">#}
                            </div>
                            <div class="col-md-3">
                                <label for="firstName" class="form-label">{% trans 'Имя' %}</label>
                                {{ form.first_name|add_class:'form-control'|attr:'id:firstName'|attr:'type:text' }}
                                {#									<input type="text" class="form-control" id="firstName">#}
                            </div>
                            <div class="col-md-3">
                                <label for="midName" class="form-label">{% trans 'Отчество' %}</label>
                                {% trans 'placeholder:Необязательное поле' as not_required %}
                                {{ form.middle_name|add_class:'form-control'|attr:'id:midName'|attr:'type:text'|attr:not_required }}
                                {#									<input type="text" class="form-control" id="midName">#}
                            </div>
                            <div class="col-md-3">
                                <label for="birthDay" class="form-label">{% trans 'День рождения' %}</label>
                                {{ form.middle_name|add_class:'form-control'|attr:'id:birthDay'|attr:'type:date' }}
                                {#									<input type="date" class="form-control" id="birthDay">#}
                            </div>
                            {##}
                            {#                        <div class="col-md-4">#}
                            {#                            <label for="levelPut" class="form-label">{% trans 'Ученая степень' %}</label>#}
                            {#                            {{ form.scientist_level|add_class:'form-select' }}#}
                            {#                        </div>#}
                            {#                        <div class="col-md-2">#}
                            {#                            <label for="levelPutYear" class="form-label">{% trans 'Год присуждения ' %}</label>#}
                            {#                            {{ form.scientist_level_year|add_class:'form-control'|attr:'id:levelPutYear'|attr:'type:number' }}#}
                            {#								<input type="number" class="form-control" id="levelPutYear">#}
                            {#                        </div>#}
                            {#                        <div class="col-md-4">#}
                            {#                            <label for="rankPut" class="form-label">{% trans 'Ученая звание ' %}</label>#}
                            {#                            {{ form.scientist_rank|add_class:'form-select' }}#}
                            {#                        </div>#}
                            {#                        <div class="col-md-2">#}
                            {#                            <label for="rankPutYear" class="form-label">{% trans 'Год присуждения' %}</label>#}
                            {#                            {{ form.scientist_rank_year|add_class:'form-control'|attr:'id:rankPutYear'|attr:'type:number' }}#}
                            {#								<input type="number" class="form-control" id="rankPutYear">#}
                            {#                        </div>#}

                        </div>


                        <h2 class="h6 text-center fw-bold">{% trans 'Места работы' %} </h2>
                        <div class="row border p-3 m-3">
                            <div class="col-md-6">
                                <label for="workPlaceRu"
                                       class="form-label">{% trans 'Полное название на Русском' %}</label>
                                {{ form.work_place_ru|add_class:'form-control'|attr:'type:text'|attr:'id:workPlaceRu'|attr:'style: height: 5px' }}
                                {#									<input type="text" class="form-control" id="workPlaceRu">#}
                            </div>
                            {#                        <div class="col-md-4">#}
                            {#                            <label for="workPlaceShortRu"#}
                            {#                                   class="form-label">{% trans 'Сокращенное название на Русском' %}</label>#}
                            {#                            {{ form.work_place_short_ru|add_class:'form-control'|attr:'type:text'|attr:'id:workPlaceShortRu' }}#}
                            {#									<input type="text" class="form-control" id="workPlaceShortRu">#}
                            {#                        </div>#}
                            {#                        <div class="col-md-12">#}
                            {#                            <label for="workPositionRu"#}
                            {#                                   class="form-label">{% trans 'Должность на Русском ' %}</label>#}
                            {#                            {{ form.work_position_ru|add_class:'form-control'|attr:'type:text'|attr:'id:workPositionRu' }}#}
                            {#									<input type="text" class="form-control" id="workPositionRu">#}
                            {#                        </div>#}
                            <div class="col-md-6">
                                <label for="workPlaceEn"
                                       class="form-label">{% trans 'Полное название на Английском ' %}</label>
                                {{ form.work_place_en|add_class:'form-control'|attr:'type:text'|attr:'id:workPlaceEn'|attr:'style: height: 5px' }}
                                {#									<input type="text" class="form-control" id="workPlaceEn">#}
                            </div>
                            <div class="col-md-12">
                                <label for="appeal"
                                       class="form-label">{% trans 'Обращение ' %}</label>
                                {{ form.appeal|add_class:'form-control'|attr:'id:appeal'}}
                                {#									<input type="text" class="form-control" id="workPlaceEn">#}
                            </div>
                            {#                        <div class="col-md-4">#}
                            {#                            <label for="workPlaceShortEn"#}
                            {#                                   class="form-label">{% trans 'Сокращенное название на Английском ' %}</label>#}
                            {#                            {{ form.work_place_short_en|add_class:'form-control'|attr:'type:text'|attr:'id:workPlaceShortEn' }}#}
                            {#									<input type="text" class="form-control" id="workPlaceShortEn">#}
                            {#                        </div>#}
                            {#                        <div class="col-md-12">#}
                            {#                            <label for="workPositionEn"#}
                            {#                                   class="form-label">{% trans 'Должность на Английском ' %}</label>#}
                            {#                            {{ form.work_position_en|add_class:'form-control'|attr:'type:text'|attr:'id:workPositionRu' }}#}
                            {#                        </div>#}
                        </div>


                        {#                    <h2 class="h6 text-center fw-bold">{% trans 'Публикации' %}</h2>#}
                        {#                    <div class="row border p-3 m-3">#}
                        {#                        <div class="col-md-12">#}
                        {#                            <label for="publicationCount"#}
                        {#                                   class="form-label">{% trans 'Общее число публикаций (включая тезисы докладов).' %}</label>#}
                        {#                            {{ form.public_count|add_class:'form-control'|attr:'id:publicationCount'|attr:'type:text' }}#}
                        {#									<input type="text" class="form-control" id="publicationCount">#}
                        {#                        </div>#}
                        {#                    </div>#}

                        <h2 class="h6 text-center fw-bold">{% trans 'Адрес' %}</h2>
                        <div class="row border p-3 m-3">
                            <div class="col-md-3">
                                <label for="zip" class="form-label">{% trans 'Почтовый индекс' %}</label>
                                {{ form.address_zip|add_class:'form-control'|attr:'id:zip'|attr:'type:text' }}
                                {#									<input type="text" class="form-control" id="zip">#}
                            </div>
                            <div class="col-md-3">
                                <label for="country" class="form-label">{% trans 'Страна' %}</label>
                                {{ form.address_country|add_class:'form-control'|attr:'id:country'|attr:'type:text' }}
                                {#									<input type="text" class="form-control" id="country">#}
                            </div>
                            <div class="col-md-6">
                                <label for="region"
                                       class="form-label">{% trans 'Название области и города' %}</label>
                                {{ form.address_region|add_class:'form-control'|attr:'id:region'|attr:'type:text' }}
                                {#									<input type="text" class="form-control" id="region">#}
                            </div>
                            <div class="col-md-12">
                                <label for="address"
                                       class="form-label">{% trans 'Улица, номер дома / квартиры' %}</label>
                                {{ form.address_street|add_class:'form-control'|attr:'id:address'|attr:'type:text' }}
                                {#									<input type="text" class="form-control" id="address">#}
                            </div>
                            <div class="col-md-4">
                                <label for="workPhone" class="form-label">{% trans 'Телефон рабочий ' %}</label>
                                {{ form.work_phone_number|add_class:'form-control'|attr:'id:workPhone'|attr:'type:text' }}
                                {#									<input type="text" class="form-control" id="workPhone">#}
                            </div>
                            <div class="col-md-4">
                                <label for="homehone" class="form-label">{% trans 'Домашний рабочий' %}</label>
                                {#									<input type="text" class="form-control" id="homehone">#}
                                {{ form.home_phone_number|add_class:'form-control'|attr:'id:homehone'|attr:'type:text' }}
                            </div>

                            <div class="col-md-4">
                                <label for="emailAdress"
                                       class="form-label">{% trans 'Адресс электронной почты:' %}</label>
                                {{ form.email|add_class:'form-control'|attr:'id:emailAdress'|attr:'type:email' }}
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-4">
                                <a href="/" class="w-100 btn btn-lg btn-secondary" type="submit">
                                    {% trans 'На главную страницу' %}
                                </a>
                            </div>
                            <div class="col-md-4">
                                <button class="w-100 btn btn-lg btn-p primary" type="submit">
                                    {% trans 'Изменить профиль' %}
                                </button>
                            </div>
                            <div class="col-md-2"></div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </main>


    {% include 'layout/footer.html' with ru_url='#' en_url='#' %}

{% endblock %}