{% load static i18n tz %}
{% timezone 'Asia/Tashkent' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static '/css/bootstrap.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static '/css/main.css' %}" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="{% static '/img/favicon.ico' %}" type="image/x-icon"/>

    <title>{% block title %} {% endblock %}</title>
</head>
<body style="min-height: 100vh!important;">

<header>
    <nav class="navbar navbar-expand-lg my-navbar-bg">
        <div class="container">
            <a class="navbar-brand" href="{% url 'main-page' %}">
                <img src="{% static '/img/logo_2.png' %}" alt="" width="35" height="35">
                GRANTS IICAS
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 my-navbar-list">
                    {% for page in pages %}
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page"
                               href="{% url 'pages' page.id %}">{{ page.title }}</a>
                        </li>
                    {% endfor %}
                    {% if request.user.user_type == 'user' or request.user.user_type == 'admin' %}
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page"
                               href="{% url 'my-form' %}">{% trans 'Мои формы' %}</a>
                        </li>
                    {% endif %}

                    {% if request.user.user_type == 'iicas' or request.user.user_type == 'admin' %}
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page"
                               href="{% url 'order-level-one-list' %}">{% trans '1 Этап' %}</a>
                        </li>
                    {% endif %}


                    {% if request.user.user_type == 'council' or request.user.user_type == 'admin' %}

                        <li class="nav-item">
                            <a class="nav-link" aria-current="page"
                               href="{% url 'order-level-two-list' %}">{% trans '2 Этап' %}</a>
                        </li>
                    {% endif %}
                    {% if request.user.user_type == 'iicas' or request.user.user_type == 'admin' %}
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page"
                               href="{% url 'order-events-result' %}">{% trans 'Результаты' %}</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" aria-current="page"
                               href="{% url 'user_scores' %}">{% trans 'Итоговые баллы' %}</a>
                        </li>
                    {% endif %}
                </ul>
                <div class="d-flex">
                    <div class="flex-shrink-0" style="width: 50px!important; height: 50px!important;">
                        <a href="#">
                            <img style="width: 100%; height: 100%" src="{% if request.user.photo %}{{ request.user.photo.url }} {% else %}{% endif %}" alt="user-img" class="img-fluid rounded-pill">
                        </a>
                    </div>
                    <div class="flex-grow-1 ms-3">
                        <div class="btn-group">
                            <a type="button" class="btn btn-transparent dropdown-toggle text-white"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                {{ request.user.first_name }} {{ request.user.last_name }}
                            </a>
                            <ul class="dropdown-menu">
                                {#								    <li>#}
                                {#								    	<a class="dropdown-item" href="#">Action</a>#}
                                {#								    </li>#}
                                {#								    <li>#}
                                {#								    	<a class="dropdown-item" href="#">Another action</a>#}
                                {#								    </li>#}
                                {#								    <li>#}
                                {#								    	<a class="dropdown-item" href="#">Something else here</a>#}
                                {#								    </li>#}
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{% url 'logout' %}">{% trans 'Выйти' %}</a>
                                </li>
                                <li>
                                    <a class="dropdown-item"
                                       href="{% url 'user_update' request.user.id %}">{% trans 'Изменить данные' %}</a>
                                </li>
                                <li>
                                    <a class="dropdown-item"
                                       href="{% url 'change_password' %}">{% trans 'Изменить пароль' %}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>
{% block content %}
{% endblock %}
</body>

<script src="{% static '/js/bootstrap.bundle.js' %}"></script>

{% block extra_js %}
{% endblock %}
{% endtimezone %}
</html>