{% load i18n %}
<section class="bg-light py-3">
    <nav aria-label="breadcrumb" class="container">
        <ol class="breadcrumb m-0">
            <li class="breadcrumb-item"><a href="{% url 'main-page' %}">{% trans 'Домой' %}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{% translate adds %} {{ pk }}</li>

        </ol>
    </nav>
</section>
