{% load i18n static %}
<footer class="bg-dark pt-3 mt-5 w-100">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <p class="text-start text-white">2023 &copy Copyright. www.unesco-iicas.org </p>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <ul class="list-inline text-white">
                        <div class="col-md-3">
                            <li class="list-inline-item" style='float: left; padding: 5px;'>{% trans 'Языки' %}:</li>
                        </div>

                        <form method="post" action="{% url 'update_user_lang' %}" style='float: left; padding: 5px;'>
                            {% csrf_token %}
                            <input type="hidden" name="change_ru" value="yes">
                            <input type="hidden" name="back_url" value="{{ request.get_full_path }}">
                            <div class="col-md-3">
                                <li class="list-inline-item">
                                    <button style="background-color: Transparent;     border: none; outline:none;"
                                            type="submit"><img
                                            width="20"
                                            src="{% static 'img/ru.png' %}"/>
                                    </button>
                                </li>
                            </div>
                        </form>


                        <form action="{% url 'update_user_lang' %}" method="post" style='float: left; padding: 5px;'>
                            {% csrf_token %}
                             <input type="hidden" name="change_en" value="yes">
                            <input type="hidden" name="back_url" value="{{ request.get_full_path }}">
                            <div class="col-md-3">
                                <li class="list-inline-item">
                                    <button style="background-color: Transparent;     border: none; outline:none;"
                                            type="submit"><img width="20"
                                                               src="{% static 'img/en.png' %}"/>
                                    </button>
                                </li>
                            </div>
                        </form>

                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <p class="text-end text-white">Powered by <a target="_blank" href="http://nextgen.uz/">Diamond
                    Solutions</a></p>
            </div>
        </div>
    </div>
</footer>