{% load widget_tweaks poll_extras i18n %}
<div class="col-md-12">
    <h1 class="h4 text-center">
        {% translate 'ФОРМА ПОДАЧИ НАУЧНЫХ ПРОЕКТОВ' %}
    </h1>
    <p>
        <strong>{% translate 'Тип проекта' %}:</strong> {{ project_order.type }} <br/>
        <strong>{% translate 'на русском:' %}</strong> {{ project_order.title_ru }}<br>
        <strong>{% translate 'на английском: ' %}</strong> {{ project_order.title_en }}
    </p>
</div>
<div class="col-md-9 pt-2">
    <div class="progress">
        {% block progress_line %}
            <div class="progress-bar" role="progressbar" style="width: {{ project_order.percent|stringformat:'d' }}%;" aria-valuenow="{{ project_order.percent }}"
                 aria-valuemin="0" aria-valuemax="100">{% if project_order.percent %}{{ project_order.percent|default:0 }}%{% endif %}
            </div>
        {% endblock %}
    </div>
</div>
<div class="col-md-3">
    <!-- Example single danger button -->
    <div class="btn-group d-grid gap-2">
        <button type="button" class="btn btn-primary btn-sm w-100 dropdown-toggle"
                data-bs-toggle="dropdown" aria-expanded="false">
            {% trans 'Навигация' %}
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item"
                   href="{% url 'step_one' %}?type_event=1{% if project_order %}&project_order={{ project_order.id }}{% endif %}">{% trans 'Создание проекта'  %}</a></li>
            <li><a class="dropdown-item" href="{% url 'step_two' %}?project_order={{ project_order.id }}">{% trans 'Шаг №1 Данные о проекте' %}</a></li>
            {#            <li><a class="dropdown-item" href="{% url 'step_three' %}?project_order={{ project_order.id }}">{% trans 'Шаг №2 Данные о исполнителях' %}</a></li>#}
            <li><a class="dropdown-item" href="{% url 'step_four' %}?project_order={{ project_order.id }}">{% trans 'Шаг №2 График выполнения' %}</a></li>
            <li><a class="dropdown-item" href="{% url 'step_five' %}?project_order={{ project_order.id }}">{% trans 'Шаг №3 Смета расходов' %}</a></li>
            <li><a class="dropdown-item" href="{% url 'step_six' %}?project_order={{ project_order.id }}">{% trans 'Шаг №4 Файлы' %}</a></li>
        </ul>
    </div>
</div>