{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static '/css/bootstrap.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static '/css/main.css' %}" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="{% static '/img/favicon.ico' %}" type="image/x-icon"/>
    <style>
        #g-recaptcha-response {
    display: block !important;
    position: absolute;
    margin: -78px 0 0 0 !important;
    width: 302px !important;
    height: 76px !important;
    z-index: -999999;
    opacity: 0;
}
    </style>
    <title>{% block title %} {% endblock %}</title>
</head>
<body class="sign-in-bg">
<main>
{% block content %}
{% endblock %}
</main>

<script src="{% static '/js/bootstrap.bundle.js' %}"></script>
{% block extra_js %}

{% endblock %}
</body>
</html>